[2015-09-17 22:35] gaearon opened #1 "Hidden state violates Redux contract"
Redux store enhancers should avoid keeping local state as much as possible. The current implementation puts history into `store._history`. This causes it to [break with redux-devtools](https://github.com/gaearon/redux-devtools/pull/116#issuecomment-141255121).

The real solution is to **keep actions *and* current state as part of the `state` managed by reducer**. This means that the state managed

[2015-09-17 22:39] gaearon opened #2 "Rather than store enhancer, this should be higher order reducer"
I don't think `undo` should be a store enhancer. It should be a higher order reducer: `(reducer, options) => enhancedReducer`.

This would allow you to implement Undo/Redo for different parts of the tree in response to different actions, e.g.

[code]
The app would then be able to read `state.todos.currentState`, `state.counter.currentState`, or even `state.todos.history` to display the list of und

[2015-09-17 22:40] gaearon commented on #2
Please also see http://package.elm-lang.org/packages/TheSeamau5/elm-undo-redo/2.0.0 for inspiration because it's essentially the same thing.

[2015-09-17 23:45] #1 closed

[2015-09-17 23:50] omnidan commented on #2
Thank you so much for the suggestion - this has made everything so much cleaner :grin:

I also updated the README.md and the `redux-undo-boilerplate`, devtools work fine too now :ok_hand:

@gaearon please let me know if you still have any concerns or if it looks okay now

[2015-09-17 23:50] #2 closed

[2015-09-17 23:51] omnidan commented on #1
Thank you so much again. Your solution is much cleaner.

[2015-09-17 23:52] gaearon commented on #1
Thanks!
You might be inspired by https://github.com/evancz/elm-architecture-tutorial/

[2015-09-18 00:00] omnidan commented on #1
@gaearon I already started reading about elm, just haven't got enough time to really start using it :sweat_smile: It's really cool though.

[2015-09-18 00:23] gaearon opened #3 "Configurable action types"
I think it would've been nice if the Undo/Redo action types were configurable:

[code]

This would let user have independently undoable parts of the tree.
(You can still provide default types and action creators for convenience.)

[2015-09-18 12:54] omnidan opened #5 "write unit tests"

[2015-09-18 13:43] #3 closed

[2015-09-18 13:45] omnidan commented on #3
Thanks for the suggestion, this is implemented in 0.2.5 :)

[2015-09-19 13:45] omnidan commented on #5
I started writing unit tests with [speckjs](https://speckjs.github.io/), but it doesn't work for me (at least not how I want to use it :sweat_smile:): https://github.com/speckjs/speckjs/issues/150

[2015-09-20 11:56] rolfnl opened #6 "How is limit supposed to work?"
Nice job, I just wondered how `limit` is supposed to work.
Testing with the counter example, if you set the limit to 4 and you do:
- plus + undo
- plus + undo
- plus + undo
- plus + undo

The last time (nr 4) doesn't work anymore. I would have expected this to work 4 times. Just like you would do 5x plus and then you can do 4x undo (and then it stops because of the limit).

Any idea?

[2015-09-20 20:35] omnidan commented on #6
limit should "delete" (cut out) the oldest entry in your history - what exactly does not work? it doesn't undo?

[2015-09-21 07:23] rolfnl commented on #6
I just cloned and run the demo/counter repo.

My expectations are that when I set a limit of 4 that there will be 4 history instances available.

This is also the case when you press the `plus` button 5 times and than the `undo` button it works 4 times, as expected. So it goes from 0 to 5 and then with the undo back to 1.

But when you click the `plus` button and then the `undo` button and repeat

[2015-09-21 11:28] omnidan commented on #6
@rolfnl huh, that's really strange. I just did the exact same thing (cloned the boilerplate, `npm install`, `npm start`) and that doesn't happen to me. The last time it still undos for me.

Can you check which version of `redux-undo` and the boilerplate you have installed?

[2015-09-21 11:41] omnidan commented on #6
I can see what the problem is here. It's more a lack of a feature than a bug. When you do that, at the last action, `0` gets thrown out of the history (because it's the oldest entry).

I think a way to get around that would be refreshing states when they get accessed again via undo/redo. I still have to think of a good way to do that, though.

[2015-09-21 14:41] omnidan commented on #6
Alright, I structured history like an UndoList in elm: http://package.elm-lang.org/packages/TheSeamau5/elm-undo-redo/2.0.0/UndoList

This fixes this issue and should make undo/redo cleaner in general :)

Thanks a lot for reporting this issue!

[2015-09-21 14:52] omnidan commented on #6
@rolfnl please update `redux-undo` and let me know if it works fine for you now :)

[2015-09-21 18:58] rolfnl commented on #6
Actually, I was thinking about that Elm package but couldn't find it in my bookmarks and didn't remember it was something like `UndoList`. Anyway, great effort. I still run into a problem though.

Again, I cloned a fresh copy of the counter example repo that uses 0.3.0. When I set limit to 4 and hit the `plus` button 10 times, then hitting `undo` goes to 7 and then stops instead of 6.

Maybe it's

[2015-09-21 19:47] omnidan commented on #6
First of all, thanks a lot for all your testing :+1:

I just checked and it does seem to work as it should. When you go up to 10, it will store the last 4 states, which are: 10, 9, 8, 7 (not 6). A solution to your problem would be setting the limit to 5 :P

[2015-09-21 19:47] #6 closed

[2015-09-21 21:03] rolfnl commented on #6
:+1:

[2015-09-22 12:09] FredyC opened #7 "document history API"
Have you thinking about including something like that? For example it might be helpful to know that there is something in history and enable the buttons in UI. Or even to display list of actions in the history.

I am just wondering how it would fit with Redux topology since this is just function hooked on reducers. One way could be to use Symbol to write these information onto the state object and

[2015-09-22 13:20] omnidan commented on #7
Actually, you can already access the history, it's just not documented (right now).

It's as simple as doing `.history` instead of `.currentState`, which contains:

 * `past` (an array of past values)
 * `present` (almost always the same as `currentState`)
 * `future` (an array of future values, for when you did undo and want to redo)

I hope this helps you :) Feel free to contribute to the README

[2015-09-22 13:44] FredyC commented on #7
Oh, I seriously had to look into this how does it work. No promise, but I will try to write docs. Thanks for info!

[2015-09-22 13:50] omnidan commented on #7
No problem :grin:

[2015-09-23 09:50] omnidan opened #8 "use symbols for history"

[2015-09-23 10:02] FredyC commented on #8
There could be also weak check if Symbol is actually available and use some weird looking property name instead like `__undoState`. Either way it would require some API to access the data in there. Something like this.

[code]

[2015-09-23 11:55] omnidan commented on #8
@FredyC thanks for the suggestion of checking if `Symbol` is available, I'll definitely do that. I started working on this in the train (so I didn't get very far :stuck_out_tongue: ) and right now I have `history(state.todos)` implemented already (it uses symbols too).

[2015-09-23 12:58] FredyC commented on #8
@omnidan Great to hear that! I've just run into small bug which is basically in the area you are changing, so might fix it as well. Thing is that you are not returning the `history` object in the state when using `filter`. As the result the first action (that pass through filter) is not undoable. I think it's caused because this way you skip INIT action from redux.

[2015-09-23 13:32] gaearon opened #10 "Actions that didn't change the state shouldn't be written in history"
Or maybe this should be configurable.. I guess?

You can reproduce the problem in https://github.com/rackt/redux/pull/777:

1. Add a couple of todos
2. Switch visibility filter to "Active"
3. Press "undo"

Expected: todo is removed.
Actual: nothing happens until you press it again.

Reason: currently even the actions that did not result in state modification are written to history.
Proposed soluti

[2015-09-23 14:18] FredyC commented on #10
@gaearon  There is surely some problem, but I don't think the solution you propose a good one. Consider the scenario where you have a different parts of state you want undoable. These would get desychronized when only one of them changes (which can easily happen) based on action. Doing undo would create some not so pretty mess. You would need essentially separate UNDO/REDO action for each state pi

[2015-09-23 14:38] gaearon commented on #10
Why is this a problem? If you want them to be in sync, put `undoable` on their shared parent reducer.

[2015-09-23 14:40] FredyC commented on #10
And what if I don't have shared parent reducer?

[code]

And that is still the easy case. Some people have quite hierarchical states and you might want to undo only part of this.

[2015-09-23 14:56] gaearon commented on #10
Then I think each `undoable` call should have action types specified as mandatory. There shouldn't be two `undoable`s in your reducers if you want them to act as one. There shouldn't be a way to have a single action `dispatch(undo())` affect two completely unrelated `undoable`s unless the user specifies this explicitly. There are many ways you can get weird inconsistencies: for example, different

[2015-09-23 14:57] FredyC commented on #10
I think it needs to be wrapped to something like this.

[code]

I am not sure yet how it work inside, but key is basically to copy the previous state to the current one for the reducer that didn't produced the change while some other did. That way we can ensure that invoking UNDO would use synchronized states.

[2015-09-23 14:59] FredyC commented on #10
@gaearon As I am saying, mine is still the easy case, but I can imagine the complex one and I believe that not many people would like to change their state composition when the request to implement undoable comes in. That might be a lot of work for complex applications.

[2015-09-23 15:35] gaearon commented on #10
Maybe I'm just missing your point. You need to change it anyway because you need to add currentState. This is a change on the same scale and in the same place.

[2015-09-23 15:38] gaearon commented on #10
What you suggested above seems to involve hidden state. If this is the case, it won't work with DevTools.

Maybe we can introduce the behavior I described with an opt-in parameter? Like yet another kind of filter, which filters using previous and current state instead of based on action.

[2015-09-23 15:40] gaearon commented on #10
Say, filterAction can accept (action, state, previousState).
That wouldn't even be a breaking change.

[2015-09-23 17:25] omnidan commented on #8
@FredyC the [filtering actions](https://github.com/omnidan/redux-undo#filtering-actions) section should explain why you are running into this issue:

[2015-09-23 17:30] omnidan commented on #10
I like the `filter(action, currentState, previousState)` solution - I could also make the helpers filter out everything that is `currentState === previousState`. I don't see the need of introducing another filter function for that.

Maybe a function that filters out `currentState === previousState` should also be the default filter function.

As for rackt/redux#777 - I think a simple solution to t

[2015-09-23 19:09] gaearon commented on #10
I probably wouldn't go as far as making it a default, but exposing such filter alongside `ifAction` will be helpful. We could call it `distinctStates`.

[2015-09-23 19:10] gaearon commented on #10
I don't want to use `ifAction` in the Redux example because it's a time bomb: somebody adds a new action operating on that state, forgets to add it to the list, and we get inconsistent undo history.

[2015-09-23 19:10] omnidan commented on #10
@gaearon why not make it default though? I can't think of a way this could break anything. If the state is exactly the same, why would you want to store it again?

[2015-09-24 07:28] FredyC commented on #10
Well, @omnidan is working on solution using Symbol, so there wouldn't be any `currentState` and wont need to change anything in ideal case. However when there will be requirement of having more undoable parts of the state, you suddenly would need to change it. It just doesn't feel right to change my application state structure just because I want undo functionality.

Exposing states to a filter fu

[2015-09-24 08:18] FredyC commented on #8
Ok, I've missed that, but I am sure that I wouldn't be the first one. Perhaps there could be at least some development warning otherwise it behaves really oddly and it's hard to find the culprit.

[2015-09-24 08:24] FredyC opened #11 "specify action that (re)sets initial state"
Regarding talk at #8, it might be better to have an option with the name of action that would always reset history and set initial state. By default it would be @@redux/INIT. This would be completely outside of the filter function.

Thing is that in my case I am loading document from the database and I don't want to allow undo further than that, so I would set this to my LOAD_DOCUMENT_DONE action

[2015-09-24 09:51] omnidan commented on #8
@FredyC development warning? what do you mean? If you filter out actions and you make a whitelist and don't include `INIT`, that's the developers problem. By default it just accepts all actions (including `INIT`) and the helpers include init too. I'll think about #11 - but this is really something that could be done with a custom filter function or maybe a new helper?

[2015-09-24 09:54] omnidan commented on #11
Can't this be solved with a custom filter function? If you don't want to use `@@redux/INIT`, just define your own function. Why add a new configuration option for that? Then I'd need to check against two things:

 1. if it matches the specified init action
 2. the filter function

Don't you think solving this with a filter is a cleaner solution? :)

[2015-09-24 09:56] omnidan commented on #10
Alright, I'll implement the new filter function and the helper :smile:

It can always be made default later if we decide it does make sense, so we don't need to decide now :sweat_smile:

[2015-09-24 10:03] omnidan commented on #8
Also what should we do about `.currentState`? should using that still be possible, or should it just be deprecated as a breaking change? :stuck_out_tongue:

[2015-09-24 10:06] FredyC commented on #11
Well, you cannot actually reset the history with the filter function...

[2015-09-24 10:12] FredyC commented on #8
Well at the current point I think it's still possible to create breaking changes, it almost seems that I am first one trying to use your lib ;)

[2015-09-24 10:14] omnidan commented on #8
@FredyC Yeah I was thinking about just making a new version :sweat_smile:

[2015-09-24 10:15] omnidan commented on #11
@FredyC oh you want it to reset the history with a specific action? I'll adjust the title then :sweat_smile:

[2015-09-24 10:23] gaearon commented on #10
Where can I read a discussion on this? Using symbols to hide essential parts of state seems like a move towards implicitness.

[2015-09-24 10:24] FredyC commented on #8
Regarding the development warning ... It's just that it took me like an hour to realize that I need to include my init action into the filter :) I think that #11 would solve that nicely, because the init action would be always considered till you need something else.

[2015-09-24 10:36] FredyC commented on #10
@gaearon #8

[2015-09-24 10:39] FredyC commented on #10
I personally see the `redux-undo` as something that you can easily plug-in or take out and you don't need to really care about it's internals (unless you want to disable undo button). I don't know if @omnidan has a different view on it

[2015-09-24 11:34] gaearon commented on #8
Can you expand on what you propose? I'm a bit confused. Do you want to put Symbols *inside* the user-generated object? That doesn't seem right to me, as it's a mutation. What's so bad about `currentState` or `present`?

[2015-09-24 11:43] omnidan commented on #8
@gaearon I don't mind `currentState` either, but I can see where he's coming from - just being able to add `undoable` to your reducers and keep the rest of the code the same would be nice.

What I would do is make the `history` (which already exists) a symbol and then put the user generated object on the same level with history `{ ...reducerResult, [HISTORY_SYMBOL]: updatedHistory }` instead of `{

[2015-09-24 11:45] omnidan commented on #8
@FredyC I agree on your comment about #11 - it would be nicer to have the helpers just deal with the actions they were passed and not `INIT` too.

[2015-09-24 11:45] FredyC commented on #8
@gaearon: It's not really mutation because with the Symbol cannot really conflict nor override any user data in there. It's completely hidden. I've already used Symbols in my [LiLL](https://github.com/BlackDice/Lill) library to ease on memory footstep.

[2015-09-24 11:47] gaearon commented on #8
1. If the user `Object.freeze`s their state, you wouldn't be able to put a symbol on it.
2. I'm not sure “hidden” is good. How would persistence and restoration of user session work?

[2015-09-24 11:50] omnidan commented on #8
ad 1: true

ad 2: you're right, maybe we should just keep it in `.currentState`, it's a lot less magic than `history(state)` - and all you have to do is change a small thing, it's a tradeoff, but `.currentState` is the cleaner solution

[2015-09-24 11:50] FredyC commented on #8
@gaearon Well are there really people who would use `freeze`? I haven't seen it as a very often practice much yet. In overall it causes more problems than it helps.

Do you really need persistence of undo history? Like serialization?

[2015-09-24 11:52] omnidan commented on #10
I agree, but as @gaearon said, there are some issues with it and it hides important details from the developer. And it's a breaking change anyway, which is never good :sweat_smile:

[2015-09-24 11:54] gaearon commented on #8
It being unpopular now (in may ways due to outdated benchmarks) is not a reason to make it impossible to use it with this library. Redux doesn't make assumptions about state; I don't think Redux Undo should either.

Yes. It's a valid part of the state. If there's a bug report, or a test scenario, or a developer session, I want to see all the state. **In many apps using undo/redo it's a core featur

[2015-09-24 11:55] omnidan commented on #8
:+1: if you're using `redux-undo`, you're probably accessing its history too (at least to check if buttons should be enabled/disabled)

[2015-09-24 11:55] gaearon commented on #10
Breaking changes are fine in early days; it's just that you need to be careful what to change. :wink:

[2015-09-24 11:57] omnidan commented on #8
I think this can be closed now. If you guys have any more comments feel free to post them here, I'll still read them :)

[2015-09-24 11:57] #8 closed

[2015-09-24 11:57] gaearon commented on #8
I'd probably rename `currentState` to `present` though. Less typing and more specific. What do you think?

[2015-09-24 11:58] omnidan commented on #8
@gaearon I've thought about that too, I think I'll do just that in the next release (which will have the new filter too :smile:) - working on it!

[2015-09-24 11:59] FredyC commented on #8
Yeah I guess I'll have to make a fork and do it just for me, because it really bugs me. I don't agree, but I don't want to argue any more.

[2015-09-24 12:02] FredyC commented on #8
One more thing, if you have undo redo like core feature I am almost sure that people would implement by themselves. I have seen this library more like a quick solution or a recipe.

[2015-09-24 12:03] omnidan commented on #8
@FredyC that's alright. you could also simply write a wrapper around `redux-undo`. I don't think that's a good solution, but it would solve your problem :stuck_out_tongue:

It still is a quick solution, adding `.present` really isn't that much to ask for, is it? :wink:

[2015-09-24 12:07] gaearon commented on #8
One of the reasons I'm pushing for this is because explicitness and predictability are key benefits of Redux. Wherever possible I'd rather keep them.

Another reason I'm pushing for this is that we don't need to reinvent the wheel. [elm-undo-redo](https://github.com/TheSeamau5/elm-undo-redo) works the same way, and its use of [Elm Architecture](https://github.com/evancz/elm-architecture-tutorial/)

[2015-09-24 12:08] FredyC commented on #8
Well my main problem with `.currentState` (w/e) is that you can easily miss the spot where to change it and suddenly you are getting weird stuff in your app - the history object. This is especially bothersome if you don't have actual unit-tests so something may come up later.

Also imagine if there would be more libs that would go the same way. Suddenly you may end up with `state.currentState.pres

[2015-09-24 12:12] gaearon commented on #8
Fair. In Elm's case, type system saves you from this, but it doesn't in ours. Still, it's pretty much like any state refactoring: you have to be conscious about it. I think having DevTools and/or logger also should help diagnose the issue. In my view this is still preferable to implicitness.

Actually I think it's good because the order is important. If all of them try to put Symbols on top of use

[2015-09-24 12:27] #10 closed

[2015-09-24 12:42] omnidan commented on #10
@FredyC @gaearon thank you so much for all your discussions, feedback and help - I really appreciate it :grin:

I just published **0.4**: it uses `.present` and has the new `filter(action, currentState, previousState)` function as well as the `distinctState` helper. I also updated the example, @gaearon :wink:

[2015-09-24 12:42] FredyC opened #13 "allow seeking to specific state in history"
Just noticed it when messing with debugging. You are passing number of steps to undo/redo functions, but they are not handled in there.

[2015-09-24 12:46] omnidan commented on #13
@FredyC I know, I removed this from the README already. When I changed the way the history is stored, I lost the seeking functionality. A solution would be calling `undo`/`redo` multiple times. Do you really think passing a number of steps would be a useful feature though?

[2015-09-24 12:50] omnidan commented on #8
I understand that problem and I would love to prevent that, but Symbols aren't really the way to go for this - and honestly I can't think of any other solution that would be clean, but if you guys come up with something, I'd be happy to implement it :grin:

[2015-09-24 12:50] FredyC commented on #13
Well I can imagine being useful in applications that shows actual history and allow user to move more than one step, but in that case it might more useful to specify some kind of index where you want to move instead of step number. I just noticed it, so you may remove it from the code to avoid confusion.

[2015-09-24 13:00] omnidan commented on #13
@FredyC will do that :grin: yeah, seeking could be useful - steps, not so much.

[2015-09-24 13:06] omnidan commented on #13
removed steps from the source: https://github.com/omnidan/redux-undo/commit/a7c88bf95816c6c46bde0fec1b81215edd97c9fc

[2015-09-24 13:10] gaearon commented on #8
By the way, for an example of `Object.freeze` being used, see https://github.com/gcanti/redux-tcomb

[2015-09-24 13:17] FredyC commented on #8
Alright, I wasn't fiddling with tcomb yet, in that case it's a valid point.

[2015-09-25 17:37] thomasyates opened #14 "COMPLETE_TODO - doesn't re-render after UNDO"
This seemed like the best place to raise an issue with the example in redux: https://github.com/rackt/redux/tree/master/examples/todos-with-undo.

Undo / redo works as expected for adding a Todo, but doesn't seem to work with the COMPLETE_TODO action.
![test](https://cloud.githubusercontent.com/assets/9977923/10107636/638afffe-63b4-11e5-8b7e-bf05d258cb94.gif)
Any ideas?

[2015-09-25 19:25] omnidan commented on #14
@thomasyates thanks for reporting this issue! yes, this is the right place :sweat_smile:

I just tested it and it seems to work fine for me :o

Can you please check your `redux` and `redux-undo` versions? Maybe make sure nothing in the code was changed - do a fresh clone, maybe?

[2015-09-26 12:07] thomasyates commented on #14
The issue was with [Object.assign()](https://github.com/rackt/redux/blob/master/examples/todos-with-undo/reducers.js#L28) in reducers.js, which isn't working even with a fresh install and clone.
`Uncaught TypeError: Object.assign is not a function`
But works fine after installing babel-runtime. So I guess something's up with the babel config?
[code]

[2015-09-26 12:39] omnidan commented on #14
@thomasyates all I did was clone it, run `npm install` and `npm start`. I might have some parts of babel installed globally though (because I have the `babel` command available).

`Object.assign is not a function` sounds like you're not running on ES6 - so yeah, seems like a babel issue.

Does adding `?optional=runtime` solve the issue for you? I copied the config from the `todomvc` example, so th

[2015-09-26 12:42] omnidan commented on #14
@thomasyates I'll close this issue here, you should open it on the `redux` issue tracker instead and link to it there as it has nothing to do with `redux-undo`.

[2015-09-26 12:42] #14 closed

[2015-09-26 13:53] #11 closed

[2015-09-26 14:37] thomasyates commented on #14
Cheers for the speedy responses, Dan. I've upgrade babel globally and the issue has gone away. Keep up the good work :+1:

[2015-09-26 14:43] omnidan commented on #14
@thomasyates Thanks! Alright, I just hope it works if you don't have babel installed at all, I'll have to test it in a VM or something.

[2015-09-27 14:06] ianobermiller opened #16 "Rename `ifAction` to `includeAction`"
Rename `ifAction` to `includeAction` to better complement `excludeAction`. Also I always find the term "filter" to be confusing, so "filter include action" is more clear to me than "filter if action".

Of course filter in JS means keep the things that match the predicate, but I still think `include` is more clear.

[2015-09-27 14:17] omnidan commented on #16
@ianobermiller you're totally right. I'll get this into 0.5

[2015-09-27 17:17] FredyC commented on #16
:+1:

[2015-10-04 05:28] hex13 commented on #5
I've debugged it. First it looks like you were passing wrong arguments to the `speck.build`. I rewrite this in this way:
https://gist.github.com/hex13/315abfbd3e9e2f37e626
But there other issues (ES6 related) and I wrote about thes on speckjs's issue you created. https://github.com/speckjs/speckjs/issues/150

[2015-10-04 10:02] omnidan commented on #5
@hex13 thank you so much for debugging and fixing this! - the only issue I see now is the comparison of arrays. Spread operation would be nice but is not essential to me. (and I understand it's not a standard so acorn isn't implementing it)

[2015-10-06 19:21] omnidan commented on #7
Done in https://github.com/omnidan/redux-undo/commit/a9a3259a7a7d3892f6cf80a3d994129b0a5a23fd

I haven't gotten time to work on the other issues yet (life has been keeping me busy :unamused:), but I set myself a deadline on Friday :grin:

[2015-10-06 19:21] #7 closed

[2015-10-06 19:23] omnidan opened #17 "Simplify API"
I want to change this:

[code]

to be more like this:

[code]

`.history` could be a reference to `this`, so doing `state.history.present` still works and this is not a breaking change :metal:

[2015-10-08 14:36] FredyC commented on #17
Definitely good idea, go for it :+1:

It's bit breaking change thou for the spot where I am asking for the size of history, eg. `state.data.history.past.length > 0`

[2015-10-10 00:07] omnidan commented on #14
Works fine in a VM (fresh installation without babel) :ok_hand:

[2015-10-10 01:03] #16 closed

[2015-10-10 01:03] #17 closed

[2015-10-10 01:09] omnidan commented on #17
@FredyC nope! it's not a breaking change, `state.data.history.past.length > 0` will still work fine. I even tested it with the [`todos-with-undo` example](https://github.com/rackt/redux/tree/master/examples/todos-with-undo) as well as [my boilerplate](https://github.com/omnidan/redux-undo-boilerplate).

It's not a fancy solution, but it works. I tried making it a getter so I can display a deprecat

[2015-10-11 18:12] omnidan commented on #5
@hex13 I tried updating it to your gist and removing the whitespace (check out the `unit-tests` branch) - it still does not work :/

[code]

[2015-11-17 07:46] elaijuh opened #19 "compatible with redux-immutablejs"
Since the plugin will mutate store tree to add post, future, present properties, it's not compatible with redux-immutablejs. Is it possible to check the store type, if immutable then deal with immutable apis?

[2015-11-17 11:43] omnidan commented on #19
@elaijuh redux-undo does *not* mutate the state! It only wraps the existing state with the history. This is called a [higher-order reducer](http://rackt.org/redux/docs/recipes/ImplementingUndoHistory.html). It should work fine with Immutable.JS, feel free to try it out :smile:

If you're running into any issues please reopen and post a gist with the not working code :wink:

[2015-11-17 11:43] #19 closed

[2015-12-05 07:38] pl12133 commented on #5
Speck looks very nice but I know nothing about it. Do you have any desire to implement tests with chai? I've written a few tests for the undo/redo actions. Tests are [here](https://github.com/pl12133/redux-undo/blob/master/test/index.spec.js), and the results: ![redux-undo-tests.png](http://i.imgur.com/3zyHLwY.png)

I've never done a PR but if you would like I would be very happy to contribute!

[2015-12-05 14:25] omnidan commented on #5
@pl12133 Thanks for writing tests :grin: That looks cool - chai should be fine too.

Have a read of https://help.github.com/articles/using-pull-requests/ if you don't know how to do a PR and feel free to ask me questions if you run into issues :smile:

[2015-12-05 18:14] pl12133 commented on #5
@omnidan Great, I read up on using pull requests and opened one, thanks.

[2015-12-05 18:48] omnidan commented on #5
solved in #20

[2015-12-05 18:48] #5 closed

[2015-12-15 10:23] #13 closed

[2016-01-04 08:24] subblue opened #24 "Debounce/delay storage of state in history"
I'm interested to use redux-undo to replace an ad-hoc undo implementation I currently have in my app. One thing I'm wondering about is being able to delay/debounce the storage of the app state for situations where a text input or slider might be changing and there will be a stream of rapid state changes.

I currently use a simple clearTimeout & setTimeout of 1000ms after which the state is stored

[2016-01-04 14:25] omnidan commented on #24
Yes, that's totally possible with an [action filter](https://github.com/omnidan/redux-undo#filtering-actions). You can keep using your current system, too (I haven't tried the code, though):

[code]

I hope this helped you, if you have any further questions don't hesitate to ask :smile:

[2016-01-04 21:32] subblue commented on #24
Thanks for your answer, but I don't think this is quite what I'm aiming for.

Your action filter will prevent the state being added to the history for a period of time, but after the timeout there is nothing to trigger the history to be updated with the new state (unless there is something else happening behind the scenes?)

Imagine an input box that triggers a state change on every keypress. I do

[2016-01-04 23:35] omnidan commented on #24
@subblue Ah, I get you now. I think the better way to do this is doing it in the component. That way you can only send/dispatch the event if there hasn't been another keypress for at least X ms.

[2016-01-06 02:55] PepperYan opened #25 "Cannot undo when state is an array"
I saw redux-undo on redux doc. When I trying to use it in my demo project, I found it not work at all when the state is an array. Without undoable, everything is just fine. After I use undoable wrap my reducer, the state became an Object, but it should be an array.

[2016-01-06 03:04] PepperYan commented on #25
Sorry,that is my fault. I didn't use it right

[2016-01-06 03:04] #25 closed

[2016-01-06 12:11] omnidan commented on #25
@PepperYan yes, you have to access `.present` to get the state after wrapping your reducer with `undoable`. Glad you figured it out :smile:

[2016-01-11 11:53] pichoneto opened #26 "Posible error in documentation"
Hello,

This may be a mistake on my side, but when trying to create a custom filter I wasn't able to make it work and when using the helpers you provide, it worked great. Later, I discovered that when using the helpers, the documentation says to use this line:
<code>undoable(reducer, { filter: includeAction(SOME_ACTION) })</code>
and when using a custom function, to use this:
<code>undoable(reduce

[2016-01-11 13:34] #26 closed

[2016-01-11 13:35] omnidan commented on #26
Good catch. This ~~is~~ was a mistake in the documentation. :sweat_smile:

I have updated the examples to use the new `{ filter: function }` syntax: https://github.com/omnidan/redux-undo/commit/bf6f4eb3737c23faf2d5d2693a4bcdae8e460ca2

[2016-01-11 14:00] pichoneto commented on #26
You're welcome!

[2016-01-12 21:24] omnidan commented on #24
@subblue Have you solved this issue yet? :smile:

[2016-01-12 21:29] omnidan opened #27 "document usage with ignore/recycle"
- [x] document usage of [redux-ignore](https://github.com/omnidan/redux-ignore) and [redux-recycle](https://github.com/omnidan/redux-recycle) higher-order reducers instead of redux-undo's [`filter` functionality](https://github.com/omnidan/redux-undo#filtering-actions) - this won't remove the `filter` functionality (at least not yet), but will make new users use composable higher-order reducers in

[2016-01-12 21:52] subblue commented on #24
In the end I rolled my own implementation which is a mix of this lib and the example given in the Redux docs as I needed a couple of other special bits.
My implementation keeps track of the last update time, and if there is another update within the time threshold it just replaces the last state rather than appending a new one. This stops the undo history growing for every little quick change.

[2016-01-12 21:52] #24 closed

[2016-01-12 23:22] omnidan commented on #24
Sounds good, glad you figured it out :ok_hand: - would be a good case for a [higher-order reducer](https://github.com/rackt/redux/blob/master/docs/recipes/ImplementingUndoHistory.md#meet-reducer-enhancers) (if it isn't already one).

[2016-01-20 09:29] YingshanDeng opened #28 "History"
Hello! in the counter example, I found that the counter state not only has the `past`, `present`, `future`, but also has a property `history`, what's the role of `history`? How to remove it ? I think I only need `past`, `present`, `future`.  thank you!

![image](https://cloud.githubusercontent.com/assets/7246595/12444543/802cbe62-bf9a-11e5-9b1f-30f51de27226.png)

[2016-01-20 09:49] YingshanDeng commented on #28
I found it！in the `wrapState` function, you wrap the history into state? why? Can I manually change it ?

From
[code]

To
[code]

[2016-01-20 13:54] omnidan commented on #28
@YingshanDeng this is intentional to keep compatibility with 0.4 (where you could access the history with `state.history`). I might release 1.0 in a while and deprecate/remove this.

[2016-01-20 13:56] YingshanDeng commented on #28
@omnidan  Thank you for your quickly reply! Come on : )

[2016-01-20 13:59] omnidan commented on #28
@YingshanDeng would be great if you could contribute a PR that removes this, I'm kinda busy until February. :blush: If you don't have time either, don't worry, I'll do it (hopefully) soon :stuck_out_tongue:

[2016-01-20 14:04] YingshanDeng commented on #28
@omnidan Ok, I will read the code again and have a try. Thank you for your work again!

[2016-01-22 09:37] YingshanDeng commented on #28
@omnidan  Hi, I have remove the history property. And make a pr：）

[2016-01-31 14:16] omnidan commented on #28
This is fixed with the merge of #29

[2016-01-31 14:16] #28 closed

[2016-01-31 14:29] omnidan commented on #28
I have released a beta version of 1.0 with this change:

[code]

[2016-01-31 14:30] YingshanDeng commented on #28
Great!👍👍

[2016-01-31 15:26] omnidan opened #31 "fix CI code coverage"

[2016-02-01 19:35] omnidan opened #33 "re-merge PR when eslint issue is fixed"
- [x] merge #30 once [eslint/eslint#5125](https://github.com/eslint/eslint/issues/5125#issuecomment-178130379) is resolved

[2016-02-02 13:22] #33 closed

[2016-02-09 15:09] danscan opened #35 "v0.6.0 (latest on npm) includes .babelrc incompatible with babel@6"
The react native packager crashes on the `.babelrc.stage`.  Just wondering why you haven't published at least a minor bump with the new .babelrc?

Maybe there's something I can help with?

[2016-02-09 18:29] omnidan commented on #35
@danscan If you send me a PR for updating 0.6 I will merge it (I'm kinda busy right now, I might do it this weekend), but you can probably just use the beta (`npm install --save redux-undo@beta2`). As you can see, `beta2` fixes the babel 6 issues: https://github.com/omnidan/redux-undo/releases

As long as you don't use undocumented stuff (like pre-0.6 `.history` instead of `.present`), it's not go

[2016-02-10 21:03] cdax opened #36 "Using diff/patch for storing/restoring states?"
For applications with massive state trees and minimal state changes, it might be a better idea to store previous or future versions of the state as diffs, and then restoring them using a patch algorithm. I'm willing to work on this if others think this might be a good idea.

[2016-02-11 19:13] omnidan commented on #36
@cdax One thing you can do to optimize performance is only wrap a part of your state tree with `undoable`. If you only make many small parts undoable, it won't take as much of a performance hit.

You are right, using diffs between states would be super interesting, maybe it should be an external module, though. If you would be willing to help with this, that'd be really appreciated :smile:

[2016-02-11 20:34] iandanforth opened #37 "Strange error on first use"
Trying out redux-undo and I get the following error (both at HEAD and beta). Not sure how to start debugging this. Any suggestions would be welcome!

[code]

[code]

[2016-02-11 20:42] omnidan commented on #37
Can you try doing a clean install in a new project? Maybe clone and run [redux-undo-boilerplate](https://github.com/omnidan/redux-undo-boilerplate) to see if it's specific to your project configuration.

More information about your setup would be nice too - maybe a gist/github repo?

Thanks in advance. :smile:

[2016-02-17 22:10] iandanforth commented on #37
Closing, this turned out to be related to another import made at the same time.

[2016-02-17 22:10] #37 closed

[2016-02-17 22:21] iandanforth opened #38 "Clear stack?"
In an editor I'm building I'd like my 'save' and 'exit' methods to do the following:

save - Remove all past and future history
exit - Move to the the earliest history.

These don't appear to be built in (unless I'm missing something obvious).

Any suggestions on accomplishing the above?

[2016-02-18 17:19] omnidan commented on #37
@iandanforth maybe let us know what caused the issue in case someone stumbles upon the same problem later? :grin:

[2016-02-18 19:36] omnidan commented on #38
You're right, this isn't implemented right now.

You can use `jumpToPast` to move to an earlier point in history, though.

[2016-02-22 04:16] lostfictions commented on #24
Hey @subblue, do you happen to have your custom implementation viewable anywhere? I'm facing this same problem. I was thinking I might be able to get what I need by duct-taping this, [redux-batched-subscribe](https://github.com/tappleby/redux-batched-subscribe), and lodash's debounce together somehow, but it's tricky enough that I'd rather not solve it from scratch if I don't need to.

[2016-02-22 04:23] lostfictions commented on #24
(In particular, it's not totally clear to me from the redux-undo docs whether there's any way to cleanly update the `present` state without pushing anything new to the undo history. Without that, it seems like it'd be a lot more difficult to handle all sorts of little edge cases around debouncing...)

[2016-02-22 15:20] omnidan commented on #24
@lostfictions if an action is filtered by a `filter` function, it still changes `present`, but doesn't update the history: https://github.com/omnidan/redux-undo/blob/master/src/index.js#L239 - hope I could help you a bit :)

[2016-02-22 18:34] omnidan commented on #27
Removing filters might not be a good idea, as ignoring isn't a complete replacement, see: https://github.com/omnidan/redux-undo/issues/24#issuecomment-187226946

[2016-02-22 18:40] #27 closed

[2016-02-22 18:40] omnidan commented on #27
Done in 51b5c5d

[2016-02-22 18:56] omnidan commented on #35
@danscan sorry it took so long :disappointed: I just released 0.6.1 with an update to babel6 - enjoy!

[2016-02-22 19:06] danscan commented on #35
@omnidan I updated to `0.6.1` and removed my CI build step that manually removes this project's `.babelrc`.

My issue now is that you list the `es2015` babel preset as a dev dependency.  Npm doesn't install dev dependencies of dependencies, and my project doesn't use that preset.

This issue can be resolved if you move `babel-preset-es2015` to dependencies, or just remove the `.babelrc`.

[2016-02-22 19:06] danscan commented on #35
If you'd like I can submit a PR real quick.

[2016-02-22 19:32] omnidan commented on #35
@danscan would be great :)

[2016-02-22 21:47] lostfictions commented on #24
Ah, thanks! I'll try and make this work then :)

[2016-02-26 14:45] neojski opened #41 "Link in documentation broken"
Link to recipe is broken: https://github.com/omnidan/redux-undo/tree/b24e1aa2ffb44a58442f370a114be07578c8325b#what-is-this-magic-how-does-it-work

[2016-02-26 15:56] neojski opened #43 "Initial history does not work"
I tried these:

[code]

But the current state is `"none"` in both cases and the history is empty. In the second case if I don't set `state = "none"` initially the current state becomes `undefined`.

[2016-02-27 19:26] danscan commented on #35
Hi @omnidan– I installed `redux-undo@0.6.1` straight from npm, and I get this:

![screen shot 2016-02-27 at 2 25 43 pm](https://cloud.githubusercontent.com/assets/1638987/13374843/171ede00-dd5e-11e5-8239-6fa568d3be17.png)

[2016-02-27 19:27] danscan commented on #35
Not sure what `redux` does to prevent this, but this is probably what everyone using react native encounters when they try to use `redux-undo`.

[2016-02-27 21:53] omnidan commented on #35
@danscan can you link me to a gist/repo and let me know how to reproduce this error? I'll have a look at it tomorrow :wink:

[2016-02-28 15:23] omnidan commented on #41
Thanks a lot :see_no_evil:

[2016-02-28 15:24] #41 closed

[2016-02-28 21:44] pl12133 commented on #43
Reproduced in pl12133@0aa8637.

Output with bug:
[code]

Attempt to fix: https://github.com/pl12133/redux-undo/commit/2311b24177f1e2af598ac3b4db69f2ec7f25f1f6

Output with fix:
[code]

This gives the side effect of `init` actions resetting to the `initialHistory`, is this the desired behavior? I believe this to be proper, if this fix provides the correct behavior then I can open up a PR.

[2016-02-29 01:18] pl12133 commented on #38
I gave this a shot in pl12133@cb20e3d (Ignore pl12133@20395b8, my fork was stale).

Is this the "remove all past and future history" behavior that you would be going for?

[2016-02-29 10:59] omnidan commented on #43
@pl12133 couldn't you just `return config.history || createHistory(res)`, which would still use the initialState defined by the reducer default value?

[2016-02-29 19:13] pl12133 commented on #43
@omnidan I think I see what you mean, in the case where there is no provided `initialHistory` or `initialState`, we should fall back to the `initialState` of the reducer. Perhaps it would be better to change the `config.history` property to:

[code]

This way returning `config.history` will always represent the first state put through the reducer.

[2016-03-01 00:58] pl12133 commented on #43
This issue made me realize weaknesses in the test coverage. I have revamped tests to run as a function of a configuration object, and added tests for `initialHistory` and `initialState`. These changes are up on [improve-tests branch](https://github.com/pl12133/redux-undo/blob/improve-tests/test/index.spec.js) and many of them are failing when run against master.

I continued work on #43 and fixed

[2016-03-01 09:48] omnidan commented on #38
@pl12133 looks really good! :grin: can you open a PR, please? :wink:

[2016-03-04 09:32] pl12133 opened #46 "[SEO] Add "higher order reducer" to documentation"
Right now, when you google "higher order reducer" your other packages `redux-ignore` and `redux-recycle` both come up first but this one does not. Consider adding this phrase to the documentation if you wish to have all three show up on Google and Github search results.

[2016-03-04 21:28] omnidan commented on #46
Thanks for the suggestion! I updated the description to be: *higher order reducer to add undo/redo functionality to redux state containers*

It now matches the other descriptions:

 * higher-order reducer to ignore redux actions
 * higher-order reducer to reset the redux state on certain actions

Do you have any other suggestions for SEO? :grin:

[2016-03-04 21:34] omnidan commented on #43
@pl12133 Sounds good. I really appreciate your work on redux-undo, you've been maintaining it really well while I've been busy :sweat_smile:

[2016-03-04 22:51] pl12133 commented on #43
@omnidan Thanks a lot for the add! I've learned a lot about testing by contributing so I am happy to do it.

I have a number of small changes on my fork, I will open them up as separate PR's so changes can be discussed separately.

[2016-03-04 23:15] omnidan commented on #43
@pl12133 Cool - I made a [gitter chat](https://gitter.im/omnidan/redux-undo) to make it easier to talk about changes :)

[2016-03-07 17:33] tiemevanveen opened #49 "initialState on store is not preserved"
`InitialState` set on the `store` is not preserved when using `redux-undo`.
So just to be clear, I mean the initialState on the store, not on a reducer.

Code to configure my store:

    import { createStore } from 'redux';
    import reducer from '../reducers/index';

    const initialStoreState = { foo: 'bar' };
    const store = createStore(reducer, initialStoreState);

Reducer code:

    // in

[2016-03-07 17:34] tiemevanveen commented on #49
(Discussing a fix with @pl12133 on Gitter)

[2016-03-07 17:51] pl12133 commented on #49
It looks like responding to the action `{ type: '@@redux/INIT' }` was re-initializing the reducer to it's `initialState`, so this bug can be fixed by returning `state` if the action is `@@redux/INIT`.

The preliminary fix for this bug is available at https://github.com/pl12133/redux-undo/tree/fix-init and will be merged after proper testing.

[2016-03-07 17:52] pl12133 commented on #49
Thanks to @tiemevanveen for the detailed write up on this bug!

[2016-03-07 18:02] tiemevanveen commented on #49
Great, thanks for the quick fix! \0/

[2016-03-08 18:00] tiemevanveen commented on #49
PR: https://github.com/omnidan/redux-undo/issues/50

[2016-03-15 10:21] #31 closed

[2016-03-15 10:27] omnidan commented on #38
Reopening because there is not a release including this yet.

[2016-03-15 10:28] omnidan commented on #35
@danscan any updates on this?

[2016-03-15 13:44] #46 closed

[2016-03-18 11:24] peteruithoven opened #66 "debug mode "hides" user console logs"
Looks like when using redux-undo's debug mode the console.logs of users are "hidden" away in folded console.group's.
![screenshot from 2016-03-18 12 26 23](https://cloud.githubusercontent.com/assets/523210/13876455/bf23cc18-ed04-11e5-9255-edcaa53dcdb3.png)

This could probably be solved by saving the logs and logging them all at once.

This is a minor inconvenience, it's mostly confusing.

[2016-03-18 11:49] tiemevanveen commented on #66
Fair point, maybe they could be stored and logged at the point where we close the group now ..
https://github.com/omnidan/redux-undo/blob/master/src/index.js#L25

[2016-03-18 17:52] peteruithoven opened #67 "Clarify debug logs"
I would find it very usefull to get a better idea of what the following items in the debug logs of redux-undo mean:
- received
- insert
- after
Could this be clarified in the readme?

[2016-03-18 20:49] pl12133 commented on #67
I agree that these aren't very informative messages.

1. "received" prints the `(state, action)` that an `undoable` reducer has received.
2. "insert" prints the `newState` that is added to a history object.
3. "after" signifies that the state has changed and prints `newState`.

I would be happy to hear alternative messages, here are some proposals:

1. "(state, action)"
2. "insert newState"
3. "ne

[2016-03-18 22:12] peteruithoven commented on #67
Very clear, thanks for explaining.

If I understand you and the code correctly that state is the new present. It's the result of running the wrapped reducer with the received arguments. I find the name 'new present' clarifying here.
But it also prints the pre-insert `history`, which I find confusing because it's placed after the word "insert". I would separate that, probably combined with `free`.

[2016-03-18 23:39] pl12133 commented on #66
This sounds like a valid problem to me. You should be able to log things inside your reducer and `redux-undo` shouldn't stop you.

@tiemevanveen has the right idea for this I believe. I tried implementing that idea on #68 to fix this issue.

[2016-03-19 02:40] pl12133 commented on #67
Nice idea @peteruithoven, I like the idea of using `prev, action, next` to show the `(state, action) => newState` of a reducer. I think showing those three things with a note regarding what the action did would be a lot of information for the user. I made these changes to the debug logging in #68 so now a debug statement looks like this:

[code]

[2016-03-19 21:02] peteruithoven commented on #67
Like!
I like the way you're putting the history directly in the log (instead of in another object) it becomes more easily scannable.

[2016-03-23 08:48] benjasHu opened #69 "Dynamic reducer"
Hi!
I'm trying to implement a minigame in which I have this process:

- Fetch stage data
- User plays that stage
- Click on Next button and fetch next stage data
- Navigate to the new stage
- User plays new stage
- ...

How could I implement undoable reducer to every new stage in the way this new stage has its own history?

I mean, I have this:
[code]
`stages()` is my undoable reducer and it works

[2016-03-23 14:39] kadamwhite opened #70 "Are debounced undos supported?"
If we're updating a value in our store from a continuous input source, say, the X/Y position of an element that is being dragged, we'd like to only store an undo state when that action is complete. My instinct is that to do this we'd leverage the distinctState tool and filter on action types, updating the store when it's a drag operation and firing an action on mouseup that we'd use to persist the

[2016-03-23 15:35] peteruithoven commented on #70
This isn't really what your asking for, but you might find it a interesting sollution anyway. We're "debounding" the successions of one action type based on time:

[code]

[2016-03-23 18:44] omnidan commented on #69
I think what you want is a way to clear the whole undo/redo state. Have you tried using the [`clearHistory` action](https://github.com/omnidan/redux-undo#undoredo-actions) or [specifying the `GAME_SUCCESS` action in the `initTypes` configuration](https://github.com/omnidan/redux-undo#configuration)?

[2016-03-23 19:50] benjasHu commented on #69
Specifying `GAME_SUCCESS` action in the `initTypes` was the solution, thanks!

[2016-03-23 20:20] benjasHu commented on #69
I noticed that `clearHistory` action is not present in @beta?

I've cleared npm cache and reinstalled with `npm install --save redux-undo@beta` and still returns undefined.

Looking inside the code in the downloaded package neither...

What am I doing wrong?

[2016-03-23 21:05] omnidan commented on #69
@benjasHu Oh, it seems like it's not published yet but somehow slipped through into the README.md. Well, I plan on releasing the next beta soon, anyway - then it'll be available.

[2016-03-23 21:05] #69 closed

[2016-03-24 07:04] pl12133 commented on #70
@kadamwhite Thank you for sharing this issue, I think I am following you but I would like to make sure I'm understanding your use case. I'm wondering if you could tell me if this statement matches what you describe: "An action is dispatched repeatedly **N** times, only add the result of the last action to `past`."

@peteruithoven That is a very nice filter function, thank you for sharing! I think

[2016-03-24 08:45] peteruithoven opened #71 "Combine filters"
Is there an easy way to combine multiple filter functions together?
I noticed I was writing one function which performed 3 filters and I couldn't easily combine the existing helper filter functions. What if we create a combine function, something like below, that checks all filters:
[code]
This, for edge cases, also allows usage inside a custom undoFilter:
[code]

[2016-03-24 13:30] peteruithoven commented on #70
@pl12133 I'm hoping with https://github.com/omnidan/redux-undo/issues/71 we can make it easier for people to combine filters and it will start making sense to share filters as packages.

[2016-03-24 14:53] omnidan opened #72 "Replace boilerplate with simple example"
https://github.com/omnidan/redux-undo/pull/65

[2016-03-24 14:53] omnidan opened #73 "Create guide to switch from 0.x to 1.0-beta"
- [x] info about new history api
- [x] info about `distinctState()` filter
- [x] ...

[2016-03-24 15:05] omnidan opened #74 "Add tests that test usage of a custom filter"

[2016-03-24 15:20] omnidan commented on #69
@benjasHu I just published [`beta4`](https://github.com/omnidan/redux-undo/releases/tag/beta4), so `clearHistory` should work now - sorry for the inconvenience!

[2016-03-24 15:31] omnidan commented on #71
@peteruithoven you're right, this is not currently possible. However, on the latest release `beta4`, there is no need for `distinctState()` anymore. Might be interesting as a helper though.

[2016-03-24 15:35] omnidan commented on #70
As debouncing gets asked a lot, I think it would make sense to add an example for this.

[2016-03-24 15:39] omnidan commented on #67
Being worked on in https://github.com/omnidan/redux-undo/pull/68

[2016-03-24 15:41] omnidan commented on #49
@tiemevanveen I think this can be closed now, right?

[2016-03-24 15:42] omnidan commented on #43
@neojski @pl12133 This should be fixed in the new `beta4` release - can you test it and let me know if this can be closed?

[2016-03-24 15:42] omnidan commented on #38
@iandanforth this is included in `beta4`, please let me know if it works fine for you :wink:

[2016-03-24 15:43] omnidan commented on #35
Closing for inactivity, feel free to reopen if you have any news :grin:

[2016-03-24 15:43] #35 closed

[2016-03-24 15:44] kadamwhite commented on #70
@pl12133 :

Correct, that's basically my question. Technically it would apply to several parameters; we have a drag-and-drop interface where x/y position and other attributes are calculated to control data visualization parameters in real time. We want those to update continuously, then have the final position at which the draggable ends up to be what gets snapshot.

I'll experiment with @peteruit

[2016-03-24 16:39] iandanforth commented on #38
It does thanks! I've still got the "reset to oldest" action as well but
that should be a separate ticket.
On 24 Mar 2016 8:42 a.m., "Daniel Bugl" <notifications@github.com> wrote:

[2016-03-24 17:04] benjasHu commented on #69
@omnidan just tested and works perfectly! Thanks!

[2016-03-24 17:49] omnidan commented on #38
Cool - thanks for testing! Feel free to open another issue for that :wink:

[2016-03-24 17:49] #38 closed

[2016-03-24 17:50] omnidan commented on #69
Glad to hear that it works - thanks for testing! :grin:

[2016-03-24 18:25] peteruithoven commented on #70
I'm very curious how you will fix this. I can imagine a couple of solutions, but all seem to require more interface than what's currently available.
- Delete a history item (or just the previous one).
- Update / edit / override a history item (or just the previous one).
- Store an extra item in history in some kind of pre undo hook. Enabling you to when there is a different action type dispatched,

[2016-03-24 18:42] omnidan opened #75 "Split into multiple files"
- [x] `index.js`
 - [x] `helper.js`
 - [x] ...

[2016-03-24 20:34] iandanforth opened #76 "Reset to oldest"
Use case: We've built an editor that uses redux-undo. If a user decides to exit from the editor without saving we want to reset our `present` to the state before any edits were made and clear out `past` and `future`. This is what we use today:
[code]

Perhaps a renamed and cleaned up version of this could be useful as part of the main lib.

[2016-03-24 20:37] iandanforth commented on #76
Broken out from #38

[2016-03-24 20:41] pl12133 commented on #76
Hey @iandanforth, can you use the [jumpToPast action](https://github.com/omnidan/redux-undo/#undoredo-actions) with `{ index: 0 }` followed by a `clearHistory` action? I think that might be able to do what you are looking for.

[2016-03-24 23:04] kattehjem opened #77 "How to work with multiple reducers?"
When I make multiple reducers undoable and then call `store.dispatch(ActionCreators.undo())`, the states of all those reducers will be set to the previous value at once. Is there a way to only undo the last state change?

For example, if one reducer sets state.a and the other sets state.b, and I call action 1 that sets state.a to 'Frank', and then I call action 2 that sets state.b to 'Claire', I w

[2016-03-24 23:20] omnidan commented on #77
@kattehjem In that case, you'll have to group all the reducers that you want to fire together in an object, like this:

[code]

Alternatively you could set separate `undo` actions for separate reducers to control them independently.

[2016-03-24 23:38] kattehjem commented on #77
I don't think I understand it. If I change my code to something like this, I'll get `Uncaught TypeError: reducer is not a function.`

[code]

[2016-03-25 00:11] omnidan commented on #77
@kattehjem sorry, my bad (it's late :sweat_smile:), you need to use `combineReducers` again, like this:

[code]

I also edited my other post to reflect that.

[2016-03-25 00:16] kattehjem commented on #77
Great, that works. Thanks a lot!

[2016-03-25 00:23] omnidan commented on #77
You're welcome :grin:

[2016-03-25 00:23] #77 closed

[2016-03-25 03:11] iandanforth commented on #76
Actually this turns out is a bad idea. Had users hit my defined history limit and got reset, not back to a clean state, but the oldest we had in the stack. Instead we now clear local state and re-populate from the server, then clear history.

[2016-03-25 03:11] #76 closed

[2016-03-26 23:11] pl12133 opened #79 "Gracefully Deprecate `distinctState` filter"
To make upgrading to 1.0.0 as easy as possible, we should replace the helper function `distinctState` with a function that returns the default filter, and prints to `console.error` showing that distinctState is deprecated and no longer needed.

[2016-03-26 23:49] tiemevanveen commented on #79
I agree! Though, I like a Warnjng better 😊

[2016-03-28 00:30] peteruithoven commented on #71
It's mostly for when you want to combine filters for exclusion and different throttling techniques for example. I'll try to work on a pull request.

[2016-03-29 16:58] neojski commented on #43
@omnidan, I gave [1.0.0-beta4] a try and it doesn't seem to work. It looks like the [change](https://github.com/pl12133/redux-undo/commit/4029e1533f63bc51a79525f85fa2db4c1964e288) is not included into that release.

[2016-03-29 18:42] pl12133 commented on #43
@neojski In `beta4`, `initialHistory` was removed in favor of using the second argument to `Redux` `createStore(reducer, initialState)`.

`initialHistory` might come back by the time `1.0.0` is released, for now we are trying with the `createStore` way to see how it works.

[2016-03-29 19:37] neojski commented on #43
I'm looking at [the documentation](https://github.com/omnidan/redux-undo/tree/d6dca65ae033edfeab33ffc95f76db4d77ce2b7d#initial-state-and-history) and I can't tell the difference between first example and the second one. How do you distinguish between the second argument being `initialHistory` vs just `state`? Is it that you're magically checking if the second argument _looks_ like a history object

[2016-03-29 20:37] pl12133 commented on #43
Thats correct, `undoable` will figure out if your `initialState` is a history and if it is not it will make it into a history for you.

[2016-03-29 22:14] neojski commented on #43
This seems quite sketchy to me. I could imagine people being surprised why this behaves differently depending on whether their state object contains `present` property or not.

[2016-03-30 07:54] tiemevanveen commented on #43
And contain `past` and `future` by coïncident? Maybe we should add some more documentation?

[2016-03-30 18:47] neojski commented on #43
Some more documentation would be great. It's also not very clear what's gonna happen if you skip `future` because, say, you care only about `past` and `present`.

[2016-03-30 19:14] tiemevanveen commented on #43
Fair point

[2016-03-31 21:06] stantoncbradley commented on #79
+1 this upgrade breaks the Redux todos-with-undo example https://github.com/reactjs/redux/tree/master/examples/todos-with-undo
new to redux & redux-undo, what should ```distinctState``` be replaced with?

[2016-03-31 21:40] tiemevanveen commented on #79
You can just leave it out. It is applied by default now

[2016-03-31 21:45] stantoncbradley commented on #79
gotcha!  submiting a PR to Redux now!  Thanks @tiemevanveen

[2016-03-31 23:39] omnidan commented on #79
Cool - I already updated the local example, btw :wink: https://github.com/omnidan/redux-undo/tree/master/examples/todos-with-undo

[2016-03-31 23:49] stantoncbradley commented on #79
@omnidan nice.  the example works again thanks to the deprecation fix in 1.0.0-beta6.  For backwards compatibility I will leave the Redux example alone for now.  I think this issue is resoved :smile:

[2016-03-31 23:50] omnidan commented on #79
Alright, thanks for everything :+1:

[2016-03-31 23:50] #79 closed

[2016-04-01 22:18] Bear-Foot commented on #71
Hello there. @peteruithoven are you up to something about this ? I'd be glad to help if you are too busy.

[2016-04-02 00:14] peteruithoven commented on #71
I'm afraid I haven't come around to it yet, I got stuck at figuring out how the unit tests worked. But through Gitter I did see [your gist](https://gist.github.com/Bear-Foot/fe40b7644de21ca25cbec8a48dcf2252) and [omnidan's fork](https://gist.github.com/omnidan/3432a5dc51e876e2803cc59998562c09), nice work!

[2016-04-06 09:19] weslleyaraujo opened #81 "UMD support"
For some applications the UMD support would be very useful,
it would be a nice improvement...

I am willing to write a PR for this, any objections?

(btw, awesome work 🤘)

[2016-04-06 18:21] omnidan commented on #81
@weslleyaraujo I haven't looked at UMD at all yet, but feel free to send a PR and I'll check it out :smile:

[2016-04-06 18:31] weslleyaraujo commented on #81
cool I will work on that :)

[2016-04-07 15:52] wilABT opened #83 "span pour element + text frere"

[2016-04-07 16:00] wilABT commented on #83
I'm really sorry I miss created an issue because I wasn't on the right page. Is it possible to delete this completly ?

[2016-04-07 16:00] #83 closed

[2016-04-07 16:56] omnidan commented on #83
@wilABT No worries. I don't think it's possible to delete an issue, but closing is enough. :wink:

[2016-04-10 02:39] goodhyun opened #84 "multiple history stacks for parts of the entire state?"
Let's say there is a text editor with multiple tabs.
Each tab is supposed to hold its own history stack, but redux recommends all the state should be in a single store. If you are editing several tabs, continuous undos will mess around with contents in other tabs, in case a same reducer is accessing several content arrays.

Preparing an array of separate stacks for state[0], state[1], and state[n]

[2016-04-10 07:22] peteruithoven commented on #84
It's possible to have multiple undo stacks, this should work with multiple (array) items as well.
Because the amount is dynamic you might want to use a extra action parameter, for example `tabIndex`, to specify which tab should be reduced by undo.
Couldn't the following work?
[code]

[2016-04-10 17:05] goodhyun commented on #84
Thanks for the insight.

Splitting a reducer again for a micro reducer whose main goal was only to accessing members of array was the solution. Now, I was able to set 'undoable' for this splitted reducer and combine them in my own way.

[2016-04-10 17:05] #84 closed

[2016-04-12 10:09] fetimo opened #85 "Is it possible to 'sync' histories?"
Apologies for masquerading a question for an issue but I wasn't sure where else to post this. My use case is that I have two distinct pieces of state handled by separate reducers. When the user initiates an action I want to undo both histories to n but stateA could have 10 history items and stateB only have 5.

I think one solution for me would be to save a guid with each history item and write so

[2016-04-12 10:24] peteruithoven commented on #85
Could you elaborate on why you'd like to rewind stateA to -2?
Are you sure you can't create two undo reducers that both listen to the same undo action?

[2016-04-12 10:42] fetimo commented on #85
Hi Peter, thanks for replying. They're currently two separate undo reducers. I'm building up a list of links visited, when the user clicks back into one of those links the app should 'time travel' back to how the site was at that point (search term, filters chosen, that sort of thing). My issue is the search term (stateA) could have many more history entries, e.g.:

`search: {
  ...
  past: ['My i

[2016-04-12 14:14] peteruithoven commented on #85
Sounds like they should be part of the same history, so you can travel back like:
- url:/article/sea
- url:/search, search:sea
- url:/search, search:se
- url:/search, search:s
- url:/home

I think the easiest way, to do this is to put both search and visitedLinks into one undo reducer.
Another idea might be to include the search into the url, as a query parameter, then your url can be leading, you

[2016-04-12 15:09] tiemevanveen commented on #85
We discussed this on Gitter a while back: https://gitter.im/omnidan/redux-undo?at=56e31581c7364f7926be2f44 / https://gitter.im/omnidan/redux-undo?at=56e4553ac7364f7926be63ae

I had the same problem as you describe and ended up wrapping my root reducer in undoable.

[2016-04-12 15:17] omnidan commented on #85
I think this might help too: https://github.com/omnidan/redux-undo/issues/77 - we really need to get the FAQ page (with common patterns like this one) done :sweat_smile:

[2016-04-12 18:44] peteruithoven opened #86 "Storing result of not filtered actions"
Hi guys,
There is an aspect of the undo filtering I'm having a hard time with.
Currently, on each (not filtered) action we store the current state, before it's affected by the action. This mean we can also get the result of actions we're trying to filter away.

For example, I'm making a drawing app where users can select shapes by dragging a selection box. I'd like to keep this selection box from

[2016-04-15 20:04] #67 closed

[2016-04-15 20:04] omnidan commented on #67
Resolved in beta7

[2016-04-15 20:04] #49 closed

[2016-04-15 20:04] omnidan commented on #66
Should be resolved in beta7

[2016-04-15 20:04] #66 closed

[2016-04-15 20:05] omnidan commented on #71
Resolved in beta7

[2016-04-15 20:05] #71 closed

[2016-04-15 20:07] omnidan commented on #74
@tiemevanveen I think this can be closed now, feel free to reopen if it's not fully done yet :wink:

[2016-04-15 20:07] #74 closed

[2016-04-15 20:08] omnidan commented on #81
Resolved in beta7

[2016-04-15 20:08] #81 closed

[2016-04-15 20:08] omnidan opened #88 "Improved documentation"
- [x] set up gitbook (#89)
- [x] set up [redux-undo.js.org](https://redux-undo.js.org)
- [x] FAQ page (e.g. debouncing: #70, syncing histories: #85)
- [ ] examples
- [x] describe what redux-undo does with the initialHistory (also see #43)
- [x] guide to switch from 0.x to 1.0-beta (#73)

[2016-04-15 20:10] omnidan commented on #43
Closing this as it's been superseded by #88 - feel free to comment there, reopen or open a new issue if you feel it's necessary :wink:

[2016-04-15 20:10] #43 closed

[2016-04-15 20:10] omnidan commented on #70
Closing this as it's been superseded by #88 - feel free to comment there, reopen or open a new issue if you feel it's necessary :wink:

[2016-04-15 20:10] #70 closed

[2016-04-15 20:10] omnidan commented on #85
Closing this as it's been superseded by #88 - feel free to comment there, reopen or open a new issue if you feel it's necessary :wink:

[2016-04-15 20:10] #85 closed

[2016-04-15 20:11] #72 closed

[2016-04-15 20:53] fetimo commented on #85
Thanks for all the help all.

FWIW the solution I went with was to refactor it as per @peteruithoven into one undo reducer but also save the _length_ of the past array so rewinding it to that point is as simple as `ActionCreators.jumpToPast(visitedLinks[index].past)`.

[2016-04-16 10:58] omnidan opened #89 "set up gitbook"

[2016-04-18 11:26] tiemevanveen commented on #49
yeah, thanks!

[2016-04-21 13:45] omnidan commented on #89
Done: https://omnidan.gitbooks.io/redux-undo/content/

[2016-04-21 13:45] #89 closed

[2016-04-21 20:26] omnidan commented on #75
Done in #90

[2016-04-21 20:26] #75 closed

[2016-04-22 14:55] peteruithoven commented on #86
I've made an example to clarify my point:
https://github.com/peteruithoven/redux-undo-filtering-issue-example

[2016-04-29 13:43] #86 closed

[2016-04-29 13:54] omnidan commented on #86
Sorry it took me so long to get to this. Thank you for your detailed write-up and example - great work :grin:

I managed to reproduce this issue and I don't think the default behaviour should be like that. In 382a5ce, I adjusted the insertion behaviour to store to past on the next action that happens (and if the previous action was filtered, I tag the history with `wasFiltered: true` and then don'

[2016-04-30 04:04] alex-wilmer opened #91 "Ability to restore history?"
Not sure if there was an existing way to do this, but I didn't see one. I'm saving my entire state object to DB and would like to load the entire history (past, present and future). I ended up wrapping `undoable` in this:

[code]

it's exactly what I need. Does `redux-undo` already cover this somewhere / if not, would a PR including something like this be appreciated?

[2016-04-30 15:13] omnidan commented on #91
@alex-wilmer yes, this is possible. Just [pass your `initialState` to `createStore`](https://github.com/omnidan/redux-undo#initial-state-and-history)

[code]

[2016-04-30 16:18] alex-wilmer commented on #91
Thanks for the response, I'm a little unsure how this works with `combineReducers` however. I only have a very small part of my state tree using `undoable`. Also in your example doing this inside `createStore` would happen only on page load correct as opposed to on an user caused action?

[code]

[2016-04-30 16:48] omnidan commented on #91
@alex-willmer Oh, I see. That's a different use-case, you might want to use [redux-recycle](https://github.com/omnidan/redux-recycle) for that. It works similar to your `reinstate` function. The idea of higher-order reducers is to have small reusable blocks, so I decided to split this main project into smaller ones: [redux-undo](https://github.com/omnidan/redux-undo), [redux-ignore](https://github

[2016-04-30 16:53] #91 closed

[2016-05-03 18:54] omnidan commented on #86
Fixed in [`beta8`](https://github.com/omnidan/redux-undo/releases/tag/beta8)

[2016-05-04 17:06] tjunnone opened #95 "Null entry in past array with 1.0-beta8"
After upgrading to 1.0-beta8 (from beta7), I'm always getting a null item as the first entry in the "past" array after the first action, not sure why. Checking for this everywhere would be quite cumbersome.

Revering back to beta7 fixed the issue for me, seems like a regression or at least an unexpected change in behavior.

[2016-05-04 17:21] omnidan commented on #95
@tjunnone This is actually an intended behaviour change (see #86 for more information why this change was made).

The new behaviour works like this:

[code]

Which is not the same as the beta7 behaviour, but it makes more sense to me. Is this causing any issues with your project?

[2016-05-04 18:30] tjunnone commented on #95
I think the behavior in #86 makes sense as I understand it, I'm specifically troubled by the initial null entry now moving to the past array on the first action even if that action itself was filtered. E.g:

Redux INIT -> present: null, past: []
LOAD (filtered: true) -> present: {state1}, past: [null]
DO_SOMETHING -> present: {state2}, past: [null]
DO_SOMETHING -> present: {state3}, past: [state2,

[2016-05-04 18:53] tiemevanveen commented on #95
I agree that this is not intuitive. I did not see the null entries when testing beta8.. Should have been caught in the unit tests right?..

[2016-05-04 18:53] omnidan commented on #95
@tjunnone I see, that shouldn't happen. I think this is an edge-case when the initial state is `null` (which still gets stored because `wasFiltered` isn't `true`)

Can you put up a small example or maybe even a failing unit test?

[2016-05-08 01:51] calvinfroedge opened #96 "Trouble with simple example - only first action can be redone"
Reducer:
[code]

Component:
[code]

After dispatching a few actions, i.e. clicking to increase, I can only rewind the most recent action, and I cannot redo any actions. What am I missing?

[2016-05-08 03:57] calvinfroedge commented on #96
It was something really stupid. Forgot `event` param in my event handler, so location hash change was always the last event =)

[code]

[2016-05-08 03:57] #96 closed

[2016-05-20 04:33] katopz opened #97 "VSCode don't like ... object extend"
For some reason VSCode didn't like [this line](https://github.com/omnidan/redux-undo/blob/master/src/reducer.js#L215).
![screen shot 2559-05-20 at 11 24 54](https://cloud.githubusercontent.com/assets/97060/15417240/b86d8f30-1e7d-11e6-9c4e-208927dc7961.png)

Which is also throw error in chrome if I try to use from source directly (Yes I shouldn't but I'm curious).
I try to warp my head around this

[2016-05-20 05:31] pl12133 commented on #97
Hey there @katopz,

For a little more about that operator, it is called the [Object Rest/Spread Operator](https://github.com/sebmarkbage/ecmascript-rest-spread#object-restspread-properties-for-ecmascript). It is another syntax for the `Object.assign` function. You can compile the Object Rest/Spread Operator using the [babel-plugin-transform-rest-spread](https://www.npmjs.com/package/babel-plugin-t

[2016-05-20 14:07] katopz commented on #97
That's a lot better than any lullaby songs, Thanks! :)

[2016-05-20 14:07] #97 closed

[2016-05-24 19:27] joshkel opened #98 "Problems from #86"
I'm testing out beta8 and am trying to understand the changes from #86 and have run into a few related problems.

First, I'm seeing the same problem as #95.

Second, if the first action is filtered, and for the first filtered action after an unfiltered action, redux-undo pushes an entry to `past` and sets `wasFiltered` (so that later operations won't keep adding entries). The disadvantage here is

[2016-05-24 19:27] joshkel commented on #95
I'm seeing a similar problem: I'm always getting an empty object as `past[0]`. This wasn't the case in beta7. I think the problem is that, if the first action that redux-undo sees is filtered, then it goes ahead and pushes the (unknown/uninitialized) state to `past`. Previous versions completely ignored filtered actions, so `past` only contained initialized, valid states. Like @tjunnone, we relied

[2016-05-24 19:42] joshkel commented on #86
I'm trying to make sure I understand this correctly.

If you had a series of actions, `A, b, c, D, e, f`, where uppercase actions are tracked and lowercase actions are ignored:
* Prior to this change (i.e., prior to beta8), an undo operation would go to just before `D`: it would put the state back to what it was just before the most recent tracked change.
* After this change, an undo operation wou

[2016-05-24 20:34] peteruithoven commented on #86
Since we're not really undoing actions but reverting to older states I would describe the "After this change," part differently, more like

I would assume that if you go back to a state where a field was changed, that state also has that field in focus. But then again, I'm not even sure focus is part of the state with redux-form.

Could you add an simple example?

[2016-05-24 20:38] peteruithoven commented on #98
Just like I experienced with #86 these things are very hard to explain, is this about a different case than your explaining in #86?

[2016-05-24 21:35] joshkel commented on #86
Sure. Here's how we're using redux-form, simplified. redux-undo is configured to ignore every action except for CHANGE (which are bolded below).

1. Initial form state:

[code]
2. **Change** first name. Action: `{ type: 'redux-form/CHANGE', field: 'firstName', value, 'Bob'}`

[code]
3. Click on last name. Action: `{ type: 'redux-form/BLUR', field: 'firstName'}`

[code]
4. Click on last name (conti

[2016-05-24 21:36] joshkel commented on #98
It's a different set of problems than #92 . Sorry I wasn't clearer.

I'm having trouble getting beta8 to work at all, due to strange behavior with an empty initial object (#95), strange behavior with `past.length` (my second problem above), and undo simply not working if an unfiltered action followed a filtered action (my third problem above). So this issue is regarding that.

Even after these pro

[2016-05-26 12:25] peteruithoven commented on #86
I understand the case. I understand that that would be very confusing, but I also think the change makes sense. It looks like you'd like to also store the state after the latest focus action, but then forget about the previous focus states.
The contributors probably have better ideas, but one idea might be to have a way to filter the past after a history change. You might be able to currently do t

[2016-05-26 12:41] peteruithoven commented on #86
I tried to visualize your usecase. White dots are ignored states, black dots are stored states. The green is what you'd like to see happen, the red is what currently happens.
![redux-form-undo](https://cloud.githubusercontent.com/assets/523210/15574805/c28b94f4-234f-11e6-80f7-71a1e449f7da.png)

[2016-05-26 12:47] peteruithoven commented on #98
Could you also make a working technical example that demonstrates those issues?

[2016-05-30 08:52] karthickvkumar opened #99 "Is this support React Native?"
Hi @omnidan, thanks for this awesome package. Is this support for react native, coz i tried to implement it shows error at `react-native start`

Here this is the error
![selection_001](https://cloud.githubusercontent.com/assets/11032434/15644660/ea8a8350-2671-11e6-918d-d283ab075662.png)

[2016-05-30 09:29] omnidan commented on #99
I haven't worked much with react-native, so I'm not sure why it's trying to load redux-undo with babel (npm is the compiled version), but did you try installing the `transform-object-rest-spread` plugin, as the error message says?

[code]

If this doesn't fix your issue, please set up a small public repo or gist so I can test it out :grin:

[2016-06-07 09:31] EugeneHlushko commented on #95
@tjunnone @joshkel I cannot make filtering work, in console it says: 'filter prevented action, not storing it'
but i actually get a history record and can undo. Guess this is related to what you have described

[2016-06-09 13:17] lucasmotta opened #100 "npm install from github does not contain lib/ or src/"
It looks like the `prepublish` hook is not working as expected. And there are a lot of known issues with the `prepublish` hook on npm, so maybe you should move away from it?

<img width="784" alt="screen shot 2016-06-09 at 14 15 30" src="https://cloud.githubusercontent.com/assets/76673/15930784/a9382050-2e4c-11e6-8740-6a72fffb7ab4.png">

It works fine when using the version `0.6.1`, but not the la

[2016-06-09 13:41] omnidan commented on #100
@lucasmotta Is there an alternative for the `prepublish` hook?

You're right, when using `npm install omnidan/redux-undo`, it does not contain the `src` or `lib` folder. I think this might be because `lib` is excluded in `.gitignore` and `src` is excluded in `.npmignore`.

When installing redux-undo via `npm install redux-undo@beta`, it does contain the `lib` folder, so prepublish seems to be work

[2016-06-09 13:42] omnidan commented on #99
Closing this for inactivity, feel free to reopen if you have any issues.

[2016-06-09 13:42] #99 closed

[2016-06-15 11:57] omnidan opened #101 "make contributing easier"
https://opensource.com/business/16/6/10-tips-new-github-projects
- [x] consider adding CONTRIBUTING.md and a template for issues/PRs
- [x] create `bitesize` label for issues (I think it's called something else on most projects, but the point is making it easy to contribute for beginners, e.g. documentation, small fixes, etc)
- [x] create documentation related issues (with `bitesize` labels)

[2016-06-15 12:01] tiemevanveen commented on #101
Yeah that’s cool! Not sure if `bitesize` is the best.. but lots of project indeed do this. I think this would be mostly doc fixes for redux-undo but that doesn't matter.

[2016-06-15 12:14] omnidan commented on #101
@tiemevanveen redux is mostly doc contributions too ;)

[2016-06-15 12:26] tiemevanveen commented on #101
Nothing beats good doc contributions :)

[2016-06-20 17:22] MoLow commented on #36
this could be very very useful!

[2016-06-23 23:05] nivek91 opened #102 "State is saved in past on INIT action"
Hi, I was trying to reproduce the example of todos-undo, using beta 8, when I came across this bug.
![beta8](https://cloud.githubusercontent.com/assets/4519660/16322963/707f5300-397d-11e6-806a-878ef63848b2.png)
After init, the state is modified (in the past object there is a copy of the state), so when I was doing,
    canUndo: state.todos.past.length > 0,
you could start the app by undoing.

Then

[2016-06-24 17:47] nivek91 commented on #102
[Archive.zip](https://github.com/omnidan/redux-undo/files/332218/Archive.zip)

To run it
npm install
npm start
open http://localhost:3000

The component is Counter

Let me know if this helps @pl12133

[2016-06-24 19:02] pl12133 commented on #102
Thanks @nivek91 that was very helpful.

It appears that the `counter` reducer is not valid as a Redux reducer: If your `counter` reducer is passed an action that is not supposed to handle, it **must return `state`, unmodified**.
[code]
Because you use `return { ... }` to return a new object literal every time your reducer is called, your reducer will **always return a new state**. This is not prop

[2016-06-24 19:02] #102 closed

[2016-06-24 19:33] nivek91 commented on #102
Thanks for answering this quickly @pl12133 .

I'm creating the reducers this way based on this: @gaearon https://github.com/reactjs/redux/issues/749#issuecomment-141570236

This is the snipped:
`function a(state, action) { }
function b(state, action, a) { } // depends on a's state

function something(state = {}, action) {
  let a = a(state.a, action);
  let b = b(state.b, action, a); // note: b de

[2016-06-24 21:03] peteruithoven commented on #102
The snippet is right, but it was a demonstration of a selector (something to retrieve data), not a reducer.

[2016-06-24 21:30] nivek91 commented on #102
How would write a reducer that depends on other reducer's state?

[2016-06-24 22:04] peteruithoven commented on #102
That's quite a general question, which makes it hard to answer. I would recommend documentation on reducer composition, it's mentioned in the [reducer docs](http://redux.js.org/docs/basics/Reducers.html) and in some talks of: https://egghead.io/courses/getting-started-with-redux

In your case using [combineReducers](http://redux.js.org/docs/api/combineReducers.html) might help.

[2016-06-24 22:37] nivek91 commented on #102
I'm already using combineReducers. Can you show with my example how would you do it?

[2016-06-24 22:48] pl12133 commented on #102
I haven't tried this out, but generally you just add extra information onto the `action` being passed around:
[code]
With this reducer, passing in a probe action will not return a new state.

[2016-06-28 15:18] nivek91 commented on #102
Hi @pl12133 , first, thanks for answering!

I just tested the code you posted (there was a missing ')' ), and now my initial state is being ignored:

![image](https://cloud.githubusercontent.com/assets/4519660/16421126/5123bc48-3d2a-11e6-8da6-8fad6edb5d63.png)

Any other ideas?

[2016-06-28 19:15] pl12133 commented on #102
I'm not sure I see the issue there, the reducer seems to be working as expected. After `@@INIT`, it is returning an initial  state of `0`, so I don't know what is being "ignored". If you would like to see a functioning undoable counter reducer there is an example available at [redux-undo-boilerplate](https://github.com/omnidan/redux-undo-boilerplate). You may want to work on Redux fundamentals bef

[2016-06-28 20:29] nivek91 commented on #102
Hi! @pl12133  , its not working because the initial state should be:
present: { incrementValue: 1, counterValue: 0 },
and not, present: 0
My counter state is compound { incrementValue: 1, counterValue: 0 }, and not a number.. Do you get me?

Thanks for taking the time

[2016-06-29 00:54] pl12133 commented on #102
Sure, if you would like to shape your state that way then you can have your functions do that. If you are just getting in to Redux I would recommend the [Egghead.io tutorials](https://egghead.io/lessons/javascript-redux-the-single-immutable-state-tree?course=getting-started-with-redux) to learn about creating your own reducers. Here is the code from above combined into one reducer:

[code]

[2016-06-29 04:17] nivek91 commented on #102
Thats what I was trying to do, but I wanted to split the logic into 2 reducers (or sub reducers), one depending on the other one. It seems that splitting them is not possible? I already watched those tutorials, but they dont show how to share state (using different reducers)

[2016-06-29 15:12] pl12133 commented on #102
That may be possible, but it does not seem like a good idea for one reducer to rely upon another because that is creating a [side effect](http://web24studios.com/2015/10/understanding-programmatic-side-effects/). Avoiding side effects is good because it makes a Redux reducer very easy to reason about. Here is what the doc's say about it:

If your reducer needs some extra data, you can pass it in o

[2016-07-15 07:35] imlgm opened #103 "Empty future list after undoing action"
![image](https://cloud.githubusercontent.com/assets/5555305/16866798/a71e2538-4aa0-11e6-8950-b92e0f368df8.png)

there is an empty future list in my app's state after i triggered unto action. I can't figure out what caused this.

Following is my configuration:

[code]

Did I do something wrong?

[2016-07-15 17:28] arvind commented on #95
I've experienced this as well, and I don't think it's specific to `null` initial states. Rather, if the very first action after initialization is filtered, this library currently adds `present` (initial state) to `past`, and marks the _new_ `present` as `wasFiltered`. This gives the appearance of a past state, which disappears if one performs an undo action.

Instead, perhaps `wasFiltered` should

[2016-07-17 09:29] peteruithoven commented on #95
@arvind could you maybe create a small example? Something we can run and experiment with.

[2016-07-28 16:20] pl4u opened #104 "npm install failing on windows"
I tried running npm install and the code would not build in Windows 7. It was failing on the "test" target.  "cross-env" needs to be added to the beginning of the line like in the "build:es" target:

"test": "cross-env NODE_ENV=test ./node_modules/.bin/mocha --compilers js:babel-core/register",

[2016-07-28 17:38] omnidan commented on #104
@pl4u unfortunately I do not have a windows machine to reproduce this issue on. would you be so kind and see if it works with `cross-env` at the beginning and if it does, open a PR to fix the issue? thanks in advance! :grin:

[2016-07-28 19:27] omnidan commented on #104
thanks! merged your PR #105 and published the fix in [`beta9`](https://github.com/omnidan/redux-undo/releases/tag/beta9)

[2016-07-28 19:27] #104 closed

[2016-07-29 11:23] xiceph opened #106 "History updated with filtered action"
I found that filtered action after unfiltered one change history too.
Here is debug output:
action SET_FEATURES is only allowed (not filtered)

[code]

As you can see in first SET_HOVERED action changed the history (past array increased to 3 items), however output says: filter prevented action, not storing it.
Just updated to beta9, issue is still there.

[2016-07-29 13:17] xiceph commented on #106
It looks like connected to #86 and followed.
The past is updated when it should but one more time on next action, which for me looks like a bug.
The result is that present and last item in past array are the same and then undo action (the first one) do nothing obviously.

[2016-07-29 20:18] omnidan commented on #106
@xiceph could you provide a small example repo to make it easier to reproduce and fix this issue? something similar to this: https://github.com/peteruithoven/redux-undo-filtering-issue-example  would be perfect :grin:

[2016-07-29 20:18] omnidan commented on #103
@imlgm could you provide a small example repo to make it easier to reproduce and fix this issue? something similar to this: https://github.com/peteruithoven/redux-undo-filtering-issue-example  would be perfect :grin:

[2016-07-30 06:55] xiceph commented on #106
I'll try to separate a basic example. I'll not be easy, it is part of a complex scenario, but maybe just this clear a root of the issue.
Unfortunately It came in bad time, I'll not have time for this in maybe next ten days.

[2016-08-08 08:25] DavyDeDurpel opened #107 "compatibility with redux-loop"
I can't get redux-undo working in combination with redux-loop (and I guess any other store enhancer might cause troubles).
The issue is that using the loop method inside the undoable wrapped reducer returns an array containing the state and another object that is recognized by redux-loop.  Redux-undo however stores this array inside 'present' and that breaks the code later on.

I only have a few m

[2016-08-08 19:53] omnidan commented on #107
Do you have an example project to reproduce this issue?

[2016-08-09 04:46] DavyDeDurpel commented on #107
Not yet.  I did some more tests yesterday and the conflict might also be related to redux-act.
Anyway, I will make a sample project to demonstrate the issue.

[2016-08-09 08:29] peteruithoven commented on #107
I'm not sure how redux-loop affects the state, but wouldn't this problem basically apply to every store enhancer / higher order reducer that affects the state?

[2016-08-09 09:00] DavyDeDurpel commented on #107
[ReduxUndo107 - working.zip](https://github.com/omnidan/redux-undo/files/408544/ReduxUndo107.-.working.zip)
[ReduxUndo107.zip](https://github.com/omnidan/redux-undo/files/408543/ReduxUndo107.zip)

I created 2 example projects.  The one with '- working' does not contain redux-undo.  The other one is my attempt to integrate redux-undo.

The example is very simple.  It shows a number and a button to

[2016-08-10 09:52] imlgm commented on #103
@omnidan OK, I will try,
Because the project I run is a little complicated, and the project also used some private package. I am not sure whether I can reproduce the bug if I set up a new demo project.

[2016-08-11 08:39] DavyDeDurpel commented on #107
I managed to fix the issue in what I might even consider a good way :-)
I basically added support for 'redux-loop' inside your reducer logic.  It's a small change and shouldn't break any existing code.

I attached the modified reducer logic so you can have a look at it.

[reducer.zip](https://github.com/omnidan/redux-undo/files/412795/reducer.zip)

[2016-08-11 09:43] xiceph commented on #106
I found another way to reproduce issue, so I easily prepared a small example repo:
https://github.com/xiceph/redux-undo-problem-example

[2016-08-11 13:33] DavyDeDurpel commented on #107
I needed to do another fix to get the filters working again...

[reducer.zip](https://github.com/omnidan/redux-undo/files/413310/reducer.zip)

[2016-08-15 16:40] SenthilKumaranC opened #108 "How to integrate with angular2 cli?"
I have added file reference in angular cli build js and maps and packages in system config ts.
## angular cli build js

[code]

///////////////////////////////////////////////////
## system config ts

/*\* Map relative paths to URLs. */
const map: any = {
  'redux': 'vendor/redux/dist/redux.js',
  'redux-undo': 'vendor/redux-undo/dist/redux-undo.js',
  'ng2-redux': 'vendor/ng2-redux/lib'
};

/*\*

[2016-08-16 08:25] SenthilKumaranC commented on #108
Below approach also not working

angular cli
--------------
'redux-undo/lib/**/*.+(js|js.map)'

system config ts
-------------------

/** Map relative paths to URLs. */
const map: any = {
  'redux': 'vendor/redux/dist/redux.js',
  'ng2-redux': 'vendor/ng2-redux/lib',
  'redux-undo': 'vendor/redux-undo/lib'
};

/** User packages configuration. */
const packages: any = {

   'ng2-redux': {
    forma

[2016-08-25 17:47] rturnq opened #115 "Provisions for treating multiple actions as one undo step"
I have encountered several use cases where I am dispatching multiple actions that I want to be able to undo as a single step.  Using something like `redux-thunk` quickly exposes the need to handle this scenario.

I have experimented with several approaches to handle this outside of `redux-undo` including middleware and another high-order reducer, but never really found a satisfying answer.  Hackin

[2016-08-25 21:33] peteruithoven commented on #115
Are you sure this is easier than using a filter function? It' very easy to exclude for example the drag actions, which results in only storing the start and stop.
It also enables "debounce", see for example: https://github.com/omnidan/redux-undo/issues/70#issuecomment-200397993

I'm not sure, code architecturally having all the filtering in one place or with the individual action creators is bette

[2016-08-27 16:57] arekkas opened #117 "how to implement multiple undoable states"
I have multiple documents on one page in my redux store:

[code]

I want to undo each document independently of one another. If user focus is on doc1 and he presses ctrl+z, only doc1 should be undone, not all changes of all docs.

How can I achieve this with redux undo?

[2016-08-27 17:00] arekkas commented on #36
Any news on this?

[2016-08-27 17:03] arekkas commented on #117
It looks like this could be possible by dispatching unique undo/redo actions for each document and use `{ undoType: UNDO_COUNTER, redoType: REDO_COUNTER }`

[2016-08-28 21:49] arekkas commented on #117
confirmed working

[2016-08-28 21:49] #117 closed

[2016-08-29 12:50] AsafShochet commented on #106
hi, any solution to this bug?

[2016-09-02 17:27] wuzeru opened #119 "when init , the past.length is always bigger than 0"
when the undo init , i found that the 'past' always has value ,even past[0] = []. what's the reason that you design it as this.

So , 'state.past.length > 0' will always be true when init.

Is there any config that i can make 'state.past.length  = 0' when init

[2016-09-06 14:23] omnidan commented on #107
@DavyDeDurpel sorry for the late reply - your examples are both the same and neither of them use redux-undo (only a small difference in `package.json`).

[code]

Can you try reuploading the example with redux-undo?

I'm pretty sure that if `redux-loop` sticks to redux principles (pure reducer function), it should be possible to combine them without any changes in `redux-undo`. It's still hard for

[2016-09-06 14:26] omnidan commented on #108
I haven't used angular2 myself, but can you compare `vendor/redux-undo/dist/redux-undo.js` with `vendor/redux/dist/redux.js`? (I'm assuming redux works fine)

If you want you can hop on [gitter](https://gitter.im/omnidan/redux-undo) and we can discuss this issue there (you'll need to explain to me how to reproduce this issue :P)

[2016-09-06 14:28] omnidan commented on #106
@AsafShochet unfortunately, not yet... there are a few issues to the current filtering system and no decent solution that fixes all of the problems yet.

[2016-09-06 14:42] omnidan commented on #119
@wuzeru can you provide an example to reproduce this? I just tried adding `console.log(store.getState())` after `createStore` in the [todos-with-undo example](https://github.com/omnidan/redux-undo/tree/master/examples/todos-with-undo), but `state.past.length` is `0`.

![https://i.imgur.com/qoVCLrZ.png](https://i.imgur.com/qoVCLrZ.png)

[2016-09-06 14:45] omnidan commented on #115
@rturnq sounds interesting - does this address the bugs #98 and #106? it does sound more complicated than the current solution, but if it ends up fixing all the issues we currently have, it might be worth it :)

[2016-09-06 14:46] omnidan commented on #100
closing for inactivity, feel free to reopen if this still affects you :wink:

[2016-09-06 14:46] #100 closed

[2016-09-06 14:53] omnidan commented on #115
@rturnq a PR would be very welcome, then we can see if it ends up fixing any of the bugs we currently have :wink:

[2016-09-09 10:08] DavyDeDurpel commented on #107
I think something is wrong with the way you do the diff because redux-undo is definitely a dependency in the ReduxUndo107.zip file.

I don't think that redux-loop breaks the 'pure reducer function' principle.  They just encapsulate the state in an array and add some meta data to it to indicate what should happen next.

Anyway, I think that I'm going to switch to redux-saga to do my asynchronous ca

[2016-09-12 07:28] nickjanssen opened #120 "Why is the state stored internally?"
From browsing the source code, I noticed that when calling the reducer, the state gets stored internally in `config.history`. Then later, depending on this internal value, a different result gets returned, making the original reducer no longer return the same result even though called with the exact same arguments. I feel this is sort of strange and leads to unpredictable results as shown below. C

[2016-09-12 16:10] nickjanssen commented on #106
If it helps, here's a very small test demonstrating the problem:

[code]

[2016-09-13 14:08] omnidan commented on #120
Maybe the naming is a little weird, but this is actually the `initialHistory` (`initialState` wrapped in a history/redux-undo context). It is used to reset the state to the initial values at a later time. We also use this to check if redux-undo has been initialized and do not set that value when the state is still `undefined`.

What you're saying is right though, it is a problem in the current imp

[2016-09-14 19:20] RowiDont commented on #37
In case anyone runs into this. Make sure you're importing the function correctly:

- Yes: `import { combineReducers } from 'redux';`
- No: `import combineReducers from 'redux';`

I may or may not have been doing the latter :sob:

[2016-09-14 19:33] omnidan commented on #37
Thanks for the comment @RowiDont :wink:

[2016-09-16 13:19] DavyDeDurpel commented on #107
I finally switched to redux-saga which is 100% compatible with redux-undo.

[2016-09-16 13:19] #107 closed

[2016-09-17 13:10] omnidan commented on #119
closing for inactivity, feel free to reopen with reproduction steps if this is still an issue for you :)

[2016-09-17 13:10] #119 closed

[2016-10-06 22:38] jscissr opened #121 "Feature request: reset wasFiltered"
My use case is a point dragged by mouse. The dragging itself is filtered, but on mouseup I want to store the state to the undo stack, even though the mouseup event itself doesn't change the state.
In other words, I propose to add a configuration option like `filter` but with opposite effect, maybe called `resetFilter`, which simply resets `wasFiltered` to `false` when it matches an action, even th

[2016-10-07 04:16] katopz opened #122 "Is it a good idea to use with redux-persist?"
Hi guys,

I'm trying to mix `redux-undo` and [`redux-perist`](https://github.com/rt2zz/redux-persist) but I'm not sure it's doable or good idea to do it?

If it's doable where (is the best practice) to hook it? Any hint is welcome.

Thanks

[2016-10-07 13:27] jscissr commented on #121
There is also another problem with the workaround besides that it only works with objects: if the user clicks the point and releases the mouse without moving it, there will be an extraneous entry in the undo log. This wouldn't happen with my proposed feature.

[2016-10-08 07:19] sorrycc opened #125 "Action with undefined type is irregular"
Related code: https://github.com/omnidan/redux-undo/blob/1fa339ad4f231993606764f1253ad64402837ea4/src/reducer.js#L142
- Actions must have a type property that indicates the type of action being performed.
- The undefined type action breaks libraries like redux-actions, https://github.com/acdlite/redux-actions/blob/bea186f/src/handleAction.js#L15

[2016-10-08 16:22] pl12133 commented on #125
It looks like you are correct, that action `{}` should be changed to `{ type: '' }`.

[2016-10-08 16:27] pl12133 commented on #122
I have not tried it myself, but `redux-persist` looks like it is saving the state of the store. In that case `redux-undo` should be able to handle an `initialState` from `createStore` and will hopefully work fine with that library.

If you try it out please let us know how the two interact?

[2016-10-08 16:54] pl12133 commented on #121
Currently the `wasFiltered` feature is involved in a few bugs, so it is probably not something ready to be iterated on before those bugs are fixed (#98, #106). I would be happy to discuss getting something working for your use case though, it sounds similar to the discussion in #86. There are also ideas in #115 which suggest a more complex way of handling multiple actions.

[2016-10-08 17:07] pl12133 commented on #120
Like @omnidan said, this is a dynamic `initialHistory`. `config.history` is set to a history created from the first valid state put through the `undoable` reducer. This does introduce statefulness which causes the reducer to not be idempotent.

I see no other way to get the `initialHistory` dynamically. We should probably remove this statefulness and promote having the user pass in a `history` wit

[2016-10-08 22:29] katopz commented on #122
Far as I try, todos filters is working fine but past/present/future from undo history is not rehydrate (even it saved).

BTW, todos only (without undo code) is working fine so some more step need for undo history I think.

Cheers

[2016-10-08 23:05] sorrycc commented on #125
I think it's better to use something like `@@REDUX_UNDO/CREATE_HISTORY`, `@@` is conventionally used for internal implementation.

[2016-10-13 09:50] afc163 commented on #125
+1

[2016-10-19 17:24] katopz commented on #122
@pl12133 Here's the results which somehow limit with `redux-persist` itself ;/ https://github.com/rt2zz/redux-persist/issues/195 apparently it can't handle/compare nested state value there.

So I come up with simple local storage implement instead [here](https://github.com/katopz/react-todos-with-undo-localstorage) which is working but only `todos` is can be undo/redo,

`id` and `filters` didn't i

[2016-10-19 17:24] #122 closed

[2016-10-22 11:23] volkandkaya opened #126 "Feature request: Array support for clearHistoryType"
I think it would be great if we could get array support for clearHistoryType. At the moment it only works with one actiontype, however I would like to use it with multiple actiontypes.

[2016-10-30 22:32] livemixlove commented on #106
Eta on this? My current partial workaround is to keep track of the actions in a stack in the state, and clearHistory() after any filtered action when past.length = 1.

[2016-11-03 23:16] joyfulelement commented on #106
Encountered the same issue too. The filtered action still getting pushed to the past array.

[2016-11-04 16:13] livemixlove commented on #106
I feel like filters should be labeled as an unfinished/broken feature due to this bug.  It breaks the fundamental expected functionality.

[2016-11-04 18:41] joyfulelement commented on #106
I've experimented a bit with version `1.0-beta9`, and even with the custom filters definition below, the `past` array still contain state changes triggered by `ACTION_TO_SKIP_FROM_HISTORY`. Had been quite confused with the current behaviour I'm seeing.

[code]

[2016-11-04 20:12] joyfulelement commented on #106
After going back and forth with different package versions, this issue was introduced with version `1.0.0-beta8` (perhaps with #86), therefore, if you are stuck with this particular issue, _**reverting back to**_ **`redux-undo: 1.0.0-beta7`** _**would help as a temporary workaround**_. If `yarn` is used as the dependency management tool, the command `yarn add redux-undo@1.0.0-beta7` will get you t

[2016-11-09 14:13] rroslaniec commented on #125
+1

[2016-11-11 11:21] arekkas opened #129 "Run child reducer on redux-undo actions as well"
At the moment, redux-undo skips the child reducer when an action is triggered that is known to redux-undo, for example [here](https://github.com/omnidan/redux-undo/blob/master/src/reducer.js#L157-L161):

[code]

Unfortunately, I have a use case where I need to execute the reducer there as well. I am aware that this is a very specific use case which is why I think that this should be configurable:

[2016-11-11 16:14] #129 closed

[2016-11-12 07:38] a360305993 opened #132 "about mapDispatchToprops"
i saw examples at http://redux.js.org/docs/introduction/Examples.html    .Todos with Undo

i am very confused that i only change one place,and then it doesn't work!

the old one is
 https://github.com/reactjs/redux/blob/master/examples/todos-with-undo/src/containers/UndoRedo.js

before change:
const mapDispatchToProps = ({
  onUndo: UndoActionCreators.undo,
  onRedo: UndoActionCreators.redo
})

af

[2016-11-12 11:42] omnidan commented on #132
If you look at the [Usage with React](http://redux.js.org/docs/basics/UsageWithReact.html) section in the redux docs, you will see that you manually need to wrap your action creators with `dispatch` if you use a function, e.g.:

[code]

You can also use the [bindActionCreators](http://redux.js.org/docs/api/bindActionCreators.html) helper function to accomplish this:

[code]

[2016-11-12 11:42] #132 closed

[2016-11-12 15:20] a360305993 commented on #132
Sorry to bother you.I am a beginer of redux.Next time I will think twice before asking a question.Thanks again.

[2016-11-12 15:26] omnidan commented on #132
@a360305993 it's alright :grin: you might want to ask these questions on stackoverflow or [gitter](https://gitter.im/omnidan/redux-undo), though, because they're not really issues related to redux-undo :wink:

[2016-11-12 15:54] a360305993 commented on #132
😁 got it. 😁i just forget my password of stackoverflow.So I come here.and I have recovery my account right now.😁

[2016-11-12 16:01] omnidan commented on #132
@a360305993 feel free to ask me directly on [gitter](https://gitter.im/omnidan/redux-undo) :wink:

[2016-11-12 16:07] a360305993 commented on #132
@omnidan .ok, thakns!

[2016-11-17 03:36] MicleMing commented on #129
I am confusing about two questions
  -. why can i not config `neverSkipReducer ` 's value  to `true`, i want to deal with `undo` action in my code, so i don't want to skip the raw reducer when action is `undo`

but in `reducer.js` (redux-undo), `neverSkipReducer` is `false` and i has no chance to change it

[code]

  - reducer's arguments
[code]
`reducer`  should  get  `res.present`  as param,  bu

[2016-11-17 07:55] arekkas commented on #129
Hey @MicleMing this is primarily because I messed up. It was late when I created the PR. I already patched this in #133 but @omnidan is busy this week so we won't see it merged before next week. Sorry for that!

[2016-11-20 10:00] NicolasAndersen opened #136 "Can I use redux-undo@beta for production project ?"
Hi Omnidan,
redux-undo is very wonderful. Can I use redux-undo@beta  for a production project? Is there any problem with redux-undo@beta .

Thank you.

Nicolas

[2016-11-21 14:50] csgruenebe commented on #106
@joyfulelement I can confirm the exact same problem with beta9. Will wait for fix and use 1.0.0-beta7  until then :)

[2016-11-21 23:03] omnidan commented on #136
@NicolasAndersen yes, you can use beta for a production project - it's stable, however, there are still a few issues with the `filter` functionality, which is why there is no 1.0 release yet.

[2016-11-21 23:16] omnidan commented on #129
@MicleMing @arekkas sorry for the late response - I've merged #133 now and this will be fixed in the next release (I'll try to get all PRs that are almost done into this, so you can expect this in a few days maximum)

Let me know if it works fine in `master`

[2016-11-21 23:22] #136 closed

[2016-11-21 23:25] #125 closed

[2016-11-21 23:25] omnidan commented on #125
@sorrycc you're totally right, I just changed this to `@@redux-undo/CREATE_HISTORY` - thanks for the suggestion! :grin:

[2016-11-21 23:26] omnidan commented on #120
I'll close this for now, feel free to reopen if you can come up with a better solution :grin:

[2016-11-21 23:26] #120 closed

[2016-11-21 23:27] omnidan commented on #108
closing for inactivity, feel free to reopen if this is an issue for you :grin:

[2016-11-21 23:27] #108 closed

[2016-11-21 23:28] omnidan commented on #36
@arekkas unfortunately not, but a PR for this would be very welcome :grin:

[2016-11-21 23:33] omnidan commented on #125
released `beta9-2` with this change

[2016-11-21 23:33] omnidan commented on #129
released `beta9-2` with this change

[2016-11-22 19:59] benjasHu commented on #117
Hi @arekkas @omnidan !

Could you please post an example of this? How do you manage the action and reducer of each object independently?

I have not found any examples of this anywhere and I can't figure out how to do it.

Thanks!

[2016-11-22 20:17] arekkas commented on #117
Sorry, I don't have one at hand

[2016-11-22 20:23] omnidan commented on #117
@benjasHu You can have multiple instances of `redux-undo` by making separate subtrees `undoable`, then you can also define custom actions for each of the subtrees.

If you still cannot get it to work, please provide us an example repo so we can reproduce your issue :wink:

[2016-11-23 14:01] benjasHu commented on #117
Hi! Thanks for the tips, have helped me a lot.

I've finally move the undoable reducer to the root of the state, and in this way I can encapsulate its history in this subtree.

But, one more question. when I assign a custom undoType, everything works but the action is not dispatched inside the undoable reducers (in all the others do).

Is this the expected behaviour or it's expected that the actio

[2016-11-23 15:04] benjasHu commented on #117
Ok! I finally get it to work. In my case, I'm managing game cards, so:

[code]

Is this the way you were talking about?

[2016-11-24 00:58] livemixlove commented on #106
Without doing a test, I'm pretty sure that 1.0.0-beta7 still has the issue exemplified in https://github.com/xiceph/redux-undo-problem-example but seems to work for my most common use case of having filtered out data-loading actions *before* non-filtered-out editing actions.

[2016-11-24 11:26] omnidan commented on #117
@benjasHu It's hard to tell from your example - but if you use multiple `undoable` instances and each of them has a different `undoType`, then yes, that's the way to have two independent instances of redux-undo. Without specifying `undoType`, all your `undoable` instances will undo at the same time.

[2016-11-24 14:47] benjasHu commented on #117
@omnidan Ok, I'm working in this way and it works perfectly ;)

Thanks for your time!

[2016-11-24 16:44] omnidan commented on #117
you're welcome! I'm glad you got it to work :grin:

[2016-11-29 13:28] janryWang opened #137 "How to use redux-undo with redux-actions"

[2016-11-29 16:52] omnidan commented on #137
@janryWang can you give us a bit more information - What have you tried? What did you expect to happen? What happened? Any problems/issues/errors? How to reproduce the issue? (Maybe even with a small example)

Thanks in advance :wink:

[2016-11-30 02:30] janryWang commented on #137
when i use the redux-undo@beta-9 , it worked,but when i use the redux-undo@0.6.x , it was not worked

[2016-11-30 02:31] #137 closed

[2016-12-09 21:04] davidroeca commented on #98
I had a similar issue--my current application is a bit complicated, as it uses the latest redux form with immutablejs.

I've noticed that my main problem is that unfiltered actions get stored too early. Redux form does a lot of heavy lifting and maintains its own internal state with thunks, so immediately saving an unfiltered action during a fire of a filtered action will cause problems (as it als

[2016-12-12 18:07] davidroeca commented on #98
New PR based on the above
https://github.com/omnidan/redux-undo/pull/139

[2016-12-14 00:35] davidroeca commented on #95
I was facing the same issues. I've fixed this in https://github.com/omnidan/redux-undo/pull/139, by setting the ignoreInitialState flag to true in the config

[2016-12-14 00:39] davidroeca commented on #106
I've fixed this in the following pull request: https://github.com/omnidan/redux-undo/pull/139

The basic idea is to save an extra copy of the most recently unfiltered state until a new unfiltered action takes place, or someone clicks undo/redo/jump

[2016-12-14 00:44] davidroeca commented on #103
I've fixed this in the following pull request: https://github.com/omnidan/redux-undo/pull/139

The problem in your case is that the present is filtered, and the old logic didn't allow for any state to be saved in the past or present if wasFiltered was true. My change removes wasFiltered in favor of a copy of the state from the most recent unfiltered action, which gets updated every insert, undo, r

[2016-12-17 17:42] yoohan-dex opened #140 "Can I use immutable with this project?"

[2016-12-18 05:49] davidroeca commented on #140
I've had trouble with the npm release overloading the call stack, so I'd recommend using a beta version. In theory it should work, though the past and future have to be plain arrays and the top level is a plain object for now until the code base is abstracted further.

if you're having trouble with the beta, also try adding https://github.com/omnidan/redux-undo/pull/139 as a git dependency (unless

[2016-12-20 11:25] #98 closed

[2016-12-20 11:29] omnidan commented on #98
I published a new version `beta9-3` that should fix this issue (thanks a lot, @davidroeca :tada:)

Let me know if it works now and feel free to reopen if you're still having issues! :grin:

[2016-12-20 11:30] omnidan commented on #95
I published a new version `beta9-3` that should fix this issue (thanks a lot, @davidroeca :tada:)

Let me know if it works now and feel free to reopen if you're still having issues! :grin:

[2016-12-20 11:30] #95 closed

[2016-12-20 11:30] omnidan commented on #106
I published a new version `beta9-3` that should fix this issue (thanks a lot, @davidroeca :tada:)

Let me know if it works now and feel free to reopen if you're still having issues! :grin:

[2016-12-20 11:30] omnidan commented on #103
I published a new version `beta9-3` that should fix this issue (thanks a lot, @davidroeca :tada:)

Let me know if it works now and feel free to reopen if you're still having issues! :grin:

[2016-12-20 11:30] #103 closed

[2016-12-20 11:31] omnidan commented on #121
closing for now since #139 changed the filtering behaviour, feel free to reopen if this is still an issue with the new version.

[2016-12-20 11:31] #121 closed

[2016-12-20 11:33] omnidan commented on #115
closing for now since #139 changed the filtering behaviour, feel free to reopen if this is still an issue with the new version (`beta9-3`).

[2016-12-20 11:33] #115 closed

[2016-12-20 11:35] omnidan commented on #140
#139 got merged and published now (`beta9-3`), so this should work fine. If it doesn't, feel free to reopen this issue. 😃

[2016-12-20 11:35] #140 closed

[2016-12-26 11:49] #126 closed

[2016-12-26 11:51] omnidan commented on #126
implemented in `beta9-4` - thanks to @Bear-Foot for the PR (#128)

[2016-12-30 09:41] tomaswitek opened #142 "Making sure reducers gets called only once when multiple reducers available"
Hi @omnidan first of all thanks for your contribution 😏

I have a similar question to https://github.com/omnidan/redux-undo/issues/77 and https://github.com/omnidan/redux-undo/issues/84.

Can I somehow make sure to call undoable reducer only on desired state container?

Lets assume I have a following state:

[code]

If I do state changes to both containers(todos and users) and than I call `undo` b

[2016-12-30 11:52] omnidan commented on #142
Yes, you need to specify custom undo actions for the sub-reducers, e.g.

[code]

[2016-12-30 13:19] tomaswitek commented on #142
Ohh I see: https://github.com/omnidan/redux-undo/blob/master/src/reducer.js#L151
Thx man

[2016-12-30 13:19] #142 closed

[2017-01-14 13:51] brasycad opened #143 "how specify the reducer where apply ActionCreators.undo()"
If you have several reducers like this:

[code]

if I dispatch ActionCreators.undo() how I can specify whats the reducer I want to undo?

Thanks in advance

[2017-01-15 13:37] omnidan commented on #143
@brasycad if you dispatch `ActionCreators.undo()` without setting `undoType`, it will trigger all `undoable` reducers. If you specify your own `undoType`, you need to dispatch the specified type to trigger the reducer.

In your example, you can trigger an undo for `georef` by dispatching `UNDO_GEOREF`. The same applies to `works` and `UNDO_WORKS`.

BTW: This issue is similar to #142 - if you have

[2017-01-15 13:37] #143 closed

[2017-01-18 12:44] jide commented on #106
I have the same issue, filtered actions being fired although they are excluded in filter.

I'm using beta9-5.

[2017-01-19 10:27] omnidan commented on #106
@jide can you check if it works with `beta9-3`? If not, please let us know how to reproduce your issue. /cc @davidroeca

[2017-01-19 13:19] jide commented on #106
beta9-3, beta9-5: Same issue

beta7: Works

[2017-01-19 13:20] jide commented on #106
I'll try to make a reproducible test, I have to find out what's causing this.

[2017-01-19 17:26] davidroeca commented on #106
I've run the following test on beta9-5 and beta9-3, and it works:

[code]

An example would be very helpful

[2017-01-26 16:03] davidroeca commented on #106
@jide any word on this? If this isn't an issue anymore, I'll go ahead and close it

[2017-01-27 17:11] davidroeca commented on #106
@jide filtering an action changes your undo behavior, so it isn't a huge shock to me that each test has a different result--if you're filtering an action, then essentially you're requesting that the history not track the change in state.

If you filter an action that occurs before anything else, then your past will not get updated. This means that if your first action is filtered, you can't undo t

[2017-01-27 19:24] davidroeca commented on #106
Found the bug: https://github.com/omnidan/redux-undo/blob/master/src/reducer.js#L172

the other assignments follow the pattern
[code]
while this one only has
[code]
This forces the history to get initialized twice

[2017-01-27 19:39] omnidan commented on #106
@jide @davidroeca I published `beta9-6` with this fix, let me know if everything works fine now

[2017-01-28 00:55] jide commented on #106
Hey !

Hmmm... There's something I do not understand in your updated test: Why would the final state, after the undo(s), be `{}` ? If an action is filtered out, its effect should not be undone, so the state should be `{ bar: 2 }` right ? (in both tests)

What confuses me even more is that your first test fails, since the final state actually is `{ bar: 2 }` (confess, you did not run that test 😁)

[2017-01-28 05:15] davidroeca commented on #106
Yes, that was the goal of my test. The filtering behavior changed from beta-7, so that's probably why you're experiencing an issue where you expect something different.

Not sure what you're talking about about the test failing. I pasted that test into the source code of the master branch with the only change being an import switch of 'redux-undo' -> '../src' and every test passed with the additio

[2017-01-28 11:16] jide commented on #106
Sorry about the failing test, I realized I ran it using beta7...

*But*, to sum things up, using your test :
- beta 7 :
  - test 1 fails. Final state is `{ bar: 2 }`
  - test 2 passes. Final state is `{}`
- beta 9-5 and beta9-6 :
  - test 1 passes. Final state is `{}`
  - test 2 passes. Final state is `{}`

But actually, the only result that makes sense to me is the first failing test with beta 7.

[2017-01-28 11:37] jide commented on #106
Btw, this throws the error I get when using 9-6 in my project :
[code]

[code]

[2017-01-30 20:44] davidroeca commented on #106
@jide try not to pass subsequent undefined actions to undoable reducer, or you'll experience unexpected behavior. In fact, I wouldn't recommend passing undefined actions to the undoable reducer, period. Always use two arguments.

[code]

When fixed, the above test will fail since the present is ```{ bar: 2, foo: 1 }```.

In response to:

You cannot undo a filtered action. This is by design. When a

[2017-01-30 21:35] davidroeca commented on #106
closing for now

[2017-01-30 21:35] #106 closed

[2017-01-31 00:13] jide commented on #106
@davidroeca : Ok, I get the way it works, I'm surprised to be alone to have my use case. I will create a separate reducer with these actions I guess.

Otherwise, I found a fix for the `undefined is not an object (evaluating 'history.past.length')` error by doing some debugging in my app. Not sure why though, but thought I should put it here :
[code]

[2017-01-31 02:26] yariza commented on #36
Here's a PR! #145

[2017-01-31 05:39] davidroeca commented on #106
What are you expecting the filter to do for you if it isn't to prevent the past from being updated, and to subsequently prevent you from undoing/redoing a filtered action's state changes?

[2017-01-31 09:23] jide commented on #106
Undoing when having a filtered action and then an unfiltered action would first undo the unfiltered action and then replay the filtered mutation on the result, keeping its effects.

[2017-01-31 15:10] jide commented on #106
[code]

So in the end this would be equivalent to not having triggered UNFILTERED_ACTION at all. Which I find logical in the sense of "I have undone UNFILTERED_ACTION".

[2017-01-31 16:21] davidroeca commented on #106
So you're expecting that filtered action state changes can never be undone in the context of the reducer. This is essentially the same thing as storing the data in a separate reducer that isn't undoable, so I'd recommend just doing that.

[2017-01-31 16:47] jide commented on #106
Yes unfortunately it is not always possible to use a separate reducer I think (e.g. when you access this part of the state somewhere in the reducer). In my own case it should be ok though.

[2017-01-31 17:00] davidroeca commented on #106
At that point, you could also use https://github.com/gaearon/redux-thunk to use logic for the entire state. But I see what you mean, especially if you use another library.

This library could benefit from a third categorization of actions, but would also add a decent amount of complexity of this library's code so I don't know if it's worth it to add this feature at this point. Definitely something

[2017-01-31 18:00] livemixlove commented on #106
Just to chime in, I've hit the same snag as Jide.  It won't be too bad to
split a reducer into to, since my non-undoable items aren't referenced much
in the rest of the reducer.  But, It would get nice to have Undo allow
definable parts of a reducer that are completely omitted from past/future
arrays, or something to that effect.

On Tue, Jan 31, 2017 at 9:00 AM, David Roeca <notifications@github.

[2017-01-31 18:47] davidroeca commented on #106
You can also compose your reducers at a lower level. Use combineReducers when composing subsections of a reducer that are undoable and not undoable. Just pay attention to the fact that the undoable portion must reference the present.

[code]

[2017-01-31 18:51] davidroeca commented on #106
Likewise, if you need any more specific logic, you can rewrite combineReducers yourself. Check http://redux.js.org/docs/basics/Reducers.html#splitting-reducers and search for the place combineReducers is referenced

[2017-02-01 04:09] cormacrelf commented on #36
If part of your state tree doesn't change, that part has reference equality (a === b) with the same part of the previous state. Reference equality between objects in JavaScript means that two objects point to the exact same piece of memory, as they are essentially just fancy pointers. If they drop off the end of your undo count limit they will be GC'd, but until then, they are referred to by redux

[2017-03-05 14:27] mauron85 opened #147 "Support slice reducers"
Some reducers need to access state from different slice of state as written in
http://redux.js.org/docs/recipes/reducers/BeyondCombineReducers.html#sharing-data-between-slice-reducers

Example

[code]

Currently undoable only pass state and action to actual reducers, so in case of `routesReducer` `state.deliveries` will be null. Fix should be easy.

[2017-03-15 14:03] peteruithoven commented on #98
Great improvement people! We (who opened #86) just figured out we where running into the same issue.

[2017-03-15 14:06] peteruithoven opened #148 "When is next stable released?"
So the project has been in beta for quite a while, fixing some big issues, but now I'm curious when we'll see the next stable major version? Is there something that's blocking this release? For example [Create guide to switch from 0.x to 1.0-beta](https://github.com/omnidan/redux-undo/issues/73)?

[2017-03-15 14:33] acateland commented on #148
@omnidan do you need help moving this lib toward the next stable version ?

[2017-03-15 14:45] omnidan commented on #148
@peteruithoven @acateland actually, the main issue is lack of time on my side. 😞  I have a lot of other projects right now (my startup, writing my bachelor thesis and a book). Any help would be very appreciated! I will still be able to review PRs and respond to comments here though, don't worry :wink:

[2017-03-15 14:47] omnidan commented on #148
I am also almost always available [on gitter](https://gitter.im/omnidan/redux-undo) if you want to have a discussion about something 😄

[2017-03-15 16:44] davidroeca commented on #147
Hi @mauron85 I just made a pull request for this issue

[2017-03-15 21:37] mauron85 commented on #147
Nice. In meantime I realised that redux-undo is not suitable for my use case as I need to undo actions, not just revert state of the UI.

[2017-03-15 21:42] davidroeca commented on #147
@mauron85 what's the difference in that case? If your reducer is undoable, then the state changes associated with the action will be undone. The action will be undone, no?

If you're referring to thunk actions (actions that have side-effects that result in more actions), you can look into filtering.

[2017-03-16 06:05] mauron85 commented on #147
I also need to undo action on the server, but I cannot determine which action it was from state change.

[2017-03-16 06:31] davidroeca commented on #147
I see, so not a redux action but an API call. Yeah, undoing side effects outside the redux store is outside the scope of this library. I assume there would have to be specific logic for each back-end call to undo the call. Though in either case I don't think there would be a simple way to undo a deletion

[2017-03-16 12:06] mauron85 commented on #147
Yes,  https://github.com/powtoon/redux-undo-redo seems is doing it by custom middleware and revertingActions. Anyway for state/UI only undos, your module is perfect.

[2017-03-16 15:37] davidroeca commented on #147
Ah interesting, definitely provides a backend-compatible solution at the cost of usability. I'm thinking this sort of functionality could be incorporated into this library as a config option. I'll look into it when I have the time

[2017-03-16 15:52] davidroeca opened #150 "Undo/redo side-effects"
As mentioned in https://github.com/omnidan/redux-undo/issues/147 users could benefit from use cases supported in https://github.com/powtoon/redux-undo-redo

An example:
An action happens, and an api call is made that creates a resource. That action gets undone, and the user wants to take reverse-action on the api call to delete the resource. This functionality is currently not supported.

This fun

[2017-03-16 15:53] davidroeca commented on #147
Created a new issue (https://github.com/omnidan/redux-undo/issues/150) and closing this one since the PR has been merged

[2017-03-16 15:53] #147 closed

[2017-03-20 13:02] acateland opened #152 "`clearHistoryType` and `initTypes` question."
Hello,

Why not give the possibilities to let the `clearHistoryType` and `initTypes` action to flow trought the wrapped reducer ?

[2017-03-22 10:03] omnidan commented on #152
@acateland Sounds interesting. Do you have any possible use cases for this? I think we should always first think about use cases before adding more configuration/complexity.

[2017-03-22 14:11] acateland commented on #152
well i have one example maybe contrieved one but.

I work a on graph tool where i use a higher order reducer to populate some placholder nodes.
And i want to on the same action, reinit history wrapped redux mountpoint, and repopulate it.
Why ?
Because if i do not, the higher order reducer will temporary populate with placeholder creating a new entry on the history wich i do not want.

[2017-03-22 16:12] peteruithoven commented on #152
I might not understand your usecase, but couldn't you handle this with the `neverSkipReducer` config?

[2017-03-28 09:17] ugo-buonadonna opened #154 "Present management"
Hello!

I'm using this library on top of a big Redux store.

According to the way the `.present` field is currently handled in the library, making a reducer undoable causes  a break of the access to the fields in the store everywhere that particular data is used outside the reducer (Redux sagas, selectors... ).

This because you have to add `.present` to access current data.

It would be very nice

[2017-03-28 20:03] davidroeca commented on #154
Hi @ugo-buonadonna,

While in theory this would provide for simpler code changes, it also has the potential to lead to a lot of weird bugs, namely a collision in name space. If your reducer references past and future keys, you'll have to conventionally know to rename them or remove them--in fact there's another _latestUnfiltered key that the library uses and there are no guarantees that there won'

[2017-03-30 08:46] ugo-buonadonna commented on #154
Hmm i see you point, but in a project there are situations where you can't just modify the store and change all references to it.
For example, in a team of 3-4 people working on a project made of 15-20 components, if there are components that references other component's store to handle some common logic (not using selector, i.e. Redux Saga `select`), you can imagine that modifying the store of th

[2017-04-07 18:25] nanandn opened #155 "Replace instead of inserting"
Is there a way to replace the last edit instead of inserting a new entry in the history?
I am using redux-undo in a wizard like UI. I want to store the edits at the end of each step in the wizard, so I can go back to the previous step. 'insert' is copying things into _lastUnfiltered, but undo restores the last state from the history. So if I have some unfiltered actions between two inserts, the st

[2017-04-07 18:57] davidroeca commented on #155
Hi @nanandn,

Filtering an action essentially means that redux-undo will not track a change in the undo history. An undo will go back to the last item in the past, and _latestUnfiltered will become the first item in the future since it was the last present tracked by redux-undo.

So if you're filtering a lot, you'll have to make sure that you've fired an unfiltered action prior to undoing, or else

[2017-04-16 21:06] brennangw opened #156 "How to build?"
This is super simple question, but if one edits source how do you build?

[2017-04-16 21:16] davidroeca commented on #156
Use this https://github.com/lzrski/npm-git-install and then add your fork
as a gitDependency

On Sun, Apr 16, 2017 at 5:10 PM Brennan Wallace <notifications@github.com>
wrote:

[2017-04-17 14:29] davidroeca commented on #156
Closing now--please reopen if this doesn't fix your issue

[2017-04-17 14:29] #156 closed

[2017-04-29 08:02] rsaladocid opened #157 "Initial state is not stored into "past" array"
I have a question, why is the initial state not stored into "past" array? Currently, it is impossible return to the initial state by means of "undo" action because of this reason.

[2017-04-30 17:37] davidroeca commented on #157
If you're not filtering anything, this problem likely doesn't exist. The initial state will be stored in the past after the first action changes the state. Filtering potentially changes this behavior, since redux-undo does not track filtered changes, so the state immediately before the first state-changing action will be saved in that case.

The way around this is to fire an unfiltered state-chang

[2017-05-01 21:26] mindjuice commented on #117
I also want to do multiple document undo/redo.  I'm planning to dynamically add a reducer for each document and wrap each one in `undoable()`.  This link describes adding dynamic reducers: http://stackoverflow.com/a/33044701/332048

The problem is also want to use TypeScript for this project.  When using fixed action strings, TS is able to guarantee type safety for the actions, and can do automati

[2017-05-03 15:46] rsaladocid commented on #157
Yes, I am filtering some actions, but the state immediately before the first state-changing action is lost. The state is initialized after the first non-filtered action is performed (so the initial state is not stored)

[2017-05-03 16:51] davidroeca commented on #157
Please provide a simple breaking example where this happens

On Wed, May 3, 2017 at 11:46 AM Rubén Salado <notifications@github.com>
wrote:

[2017-05-08 15:26] jcdufourd opened #158 "treating multiple "identical" actions as one undo step"
This is a follow up of #115 and #139.

Here is the context I am working with: there are actions that happen in series, and the whole series should create one undo. Example of action series are: onChange on a text field (happens for every character typed) and changing a object position by dragging.

I implemented a filter which remembers the last action, compares the last action and the current act

[2017-05-08 16:40] davidroeca commented on #158
A PR would be very welcome. Fortunately the library is considered beta so moving the latestUnfiltered/your implementation as config options may be possible, though not ideal. I'd argue that if you find yourself hacking filters with impure functions (you're storing state in your filter), that this is a sign that either your code or the library itself may benefit from design changes--we could potent

[2017-05-08 19:09] jcperez-ch commented on #158
I do agree with @jcdufourd.  In the other hand I understand the motivation of the `_latestUnfiltered` state.

Still, I am trying to filter only `pushState` history events, so I can work with snapshots of the past.  This `_latestUnfiltered` works as another past in the use case of this application.

A boolean configuration where `_latestUnfiltered` is disabled would be great, even when I understand

[2017-05-08 19:17] davidroeca commented on #158
Do you both truly mean to "filter" actions or do something different? It seems to me as though there is room for a completely separate feature that can be implemented for these different use cases. IIUC it almost sounds as though both of you would like a grouping feature rather than filtering, since filtering in these cases feels like a hack

[2017-05-08 19:26] jcperez-ch commented on #158
Filter is for me:
To generate a history entry only when the `filter` configuration functions returns true.
At the end, whatever gets pushed to the `past` array is the `_lastUnfiltered` which is an snapshot of the present state when the latest `past` entry got inserted.

so, the present state can still be modified by a bunch of actions that doesn't affect the `filter` configuration (aka it returns

[2017-05-08 19:37] davidroeca commented on #158
Yep, this is what I was thinking--config setup like this:

[code]
And then in the reducer, subsequent actions classified in the same group will be treated as a single step in undo/redo. The reducer could check if the next group is the same as the current group, and will update both present and _latestUnfiltered with no changes to past. By default the grouping will be null, and the null case will b

[2017-05-08 20:02] jcdufourd commented on #158
Thank you both for all that discussion.
I agree that the word 'filter' is overloaded. What I wanted to do was to insert change in the process, and the existing filter process was the (only) one allowing a change.
I totally get the need for #139-style filtering now. I am glad you understand the need for my style of filtering.

I like the 'squasher' idea. If you want the squasher to be pure and have

[2017-05-09 11:41] jcperez-ch commented on #158
So, @davidroeca any idea on how the `filter` function and the `squash` function will work together?  I believe they are mutually exclusive, and also, which would have priority over which? I have plans to work on it today if we can finally decide.

[2017-05-09 13:20] jcdufourd commented on #158
Indeed, filter and squash seem mutually exclusive, and we should check that only one of the two is present in the config.

[2017-05-09 13:21] davidroeca commented on #158
So I'm thinking filter is a way of completely ignoring anything in the
undo/redo history so that comes first, then things get grouped. groupBy is
probably a more accurate name, since some extra state will be stored. I
actually took a crack at this last night but it remains untested and may
not cover everything--feel free to check it out
https://github.com/davidroeca/redux-undo/commit/661ebd006ff73

[2017-05-09 14:03] jcperez-ch commented on #158
Ok @davidroeca I was thinking in a completely different approach.  Some kind of action that synchronizes the `_latestUnfiltered` with the present.

Like here: https://github.com/jcperez-ch/redux-undo/commit/1dd75776c90a001eb051aa922cf7d1eea00f90ac

[2017-05-09 14:18] davidroeca commented on #158
Hm so in this case, the unwrapped reducer's state would have to take care
of the squash state, no? Or it would require a closure like before.

The idea behind my approach is you can group something with a number or
string, and redux-undo will take care of the rest. Maybe even pass a meta
prop to your action that contains how it will be grouped

On Tue, May 9, 2017 at 10:03 AM Juan Carlos Pérez <no

[2017-05-09 14:38] jcperez-ch commented on #158
Yeah, with the squash approach we allow the users when to perform an squash, no matter if they are filtering or not, I guess we are trying to solve different use cases

[2017-05-09 14:54] jcperez-ch commented on #158
Any inputs @jcdufourd I think you wanted to pass a `previousAction` but not sure if my approach would be enough to solve your use case.

Beware that squash function has the type of:
[code]

Just as the filter action.

[2017-05-09 15:02] davidroeca commented on #158
Interesting. I'm not sure we're solving for different use cases.

Here, groupBy has the following signature:
[code]

Spec:
* If filter occurs, its state change is ignored by redux-undo's history, as that is what a filter does.
* If the current action is in the same group as the previous action (and the current group is not null), update present and _latestUnfiltered to the latest and don't update

[2017-05-09 16:03] jcperez-ch commented on #158
@davidroeca yes. I already created OR 160, I felt like defending my approach.  But I would like to hear from the community which of the two `groupBy` or `quash` should go.

Also you can take a look at the unit tests that I created, so community can digest easily what the squash function does.

[2017-05-15 16:50] sidonaldson opened #162 "Explicitly know it's an undo action?"
I have an interesting problem and I would love some thoughts on the best solution.

I have a map instance which has a `moveend` listener. After the user moves the map I trigger an action called `mapMoved` which stores the center and zoom etc.
To prevent the map from trying to move again on `componentWillReceiveProps` (because I've just moved it manually) I look for the original `mouseevent` to kno

[2017-05-15 17:58] davidroeca commented on #162
This looks like a complicated problem. As long as you're storing the state in redux, consider [filtering](https://github.com/omnidan/redux-undo#filtering-actions) actions not taken by the user so that the user can only undo actions they've taken--you'll just have to figure out how to differentiate between automatic and user-touched actions/states. If you're storing the state in the react component

[2017-05-17 08:40] sidonaldson commented on #162
@davidroeca agreed, this is probably a common issue with a combination of user events and integrating with non-react libraries. Preventing Redux updating the props if `future.length === 0` works well and is the simplest, however I thought I would raise it in case there is better resolution that could be included in `redux-undo`.

[2017-05-17 15:30] davidroeca commented on #162
Not sure I understand correctly. Does this work for an intermediary redo? e.g. `UNDO`, `UNDO`, `UNDO`, `REDO`? I'd assume `future.length > 0` in this case.

The issue seems to have something to do with [controlled](https://facebook.github.io/react/docs/uncontrolled-components.html) (preferable) vs [uncontrolled](https://facebook.github.io/react/docs/uncontrolled-components.html) components, or the

[2017-05-17 17:17] davidroeca commented on #155
Now that https://github.com/omnidan/redux-undo/pull/161 has been merged, you also have the option of specifying a function that groups actions together similar to the way you've requested. Instead of filtering, you can provide actions of the form `{'type': 'MY_TYPE', 'group': 'SECTION_1'}`, and a `groupBy` function like:

[code]

Subsequent actions that yield the same `groupBy` return value will b

[2017-05-17 17:20] davidroeca commented on #155
Closing for now. Please reopen if there are issues with this sort of implementation

[2017-05-17 17:20] #155 closed

[2017-05-17 17:23] davidroeca commented on #158
I believe the initial request in this issue was resolved by https://github.com/omnidan/redux-undo/pull/161

I know that as mentioned by @jcperez-ch in https://github.com/omnidan/redux-undo/pull/160 there may be benefits to changing the filtering behavior, so please start/manage that discussion in a new issue/pull request. Closing for now--please reopen if groupBy implementation issues surface

[2017-05-17 17:23] #158 closed

[2017-05-19 14:36] sidonaldson commented on #162
@davidroeca I'll try to clarify exactly what is happening.

As the map is moved the state is updated to create an undo point.

Then when undo is called the `componentDidUpdate` fires and the map then moves to the cached position - except it will call `moveend` after it has moved and try to set another cache point (unwanted as it resets the forward array)

There are several solutions;
- bind and un

[2017-05-19 15:12] davidroeca commented on #162
Well it's thanks to issues such as this one that make the library better!

I think `previousMove` as an integer might make more sense than an `undid` boolean. `previousMove` for `undo` would be `-1`, `1` for `redo`, the number of moves in a `jump` action, or `0` for any other action.

I also like the `index/limit` idea--not sure which would be more useful. `previousMove` is probably a cleaner addi

[2017-05-22 09:31] sidonaldson commented on #162
@davidroeca yes, exactly, and that nicely supports the `redo`. Considering the `index/limit` idea you would only need one additional property called `lastIndex' or similar to complete the set. Exposing limit (if set) would still be a major advantage imo. Either solutions would be a great addition. :)

[2017-05-23 12:11] MBehtemam opened #163 "Get Cannot read property 'length' of undefined"
i try to implement redux-undo to my app so my reducers is like

` const combine = combineReducers({
    designer,
    activities:undoable(activities),
    activitySelectedIndex,
    activitySelectedId,
    activityTypes,
    componentSelectedIndex,
    router: routerReducer
})
`

and also :

`function mapDispachToProps(dispatch){
     return bindActionCreators(Object.assign({},actionCreators,UndoA

[2017-05-23 13:27] davidroeca commented on #163
Hi @MBehtemam, thanks for the issue! Still not sure where the bug is--which version are you on, and what does the state default to in the `activities` reducer (prior to wrapping with undoable)?

[2017-05-24 05:00] MBehtemam commented on #163
Hi , my redux-undo version in package.json is `    "redux-undo": "^1.0.0-beta9-9"` and my activities is nested object
`  "activities":[
        {
        "id":1,
        "type":{"name":"Form","value":"form"},
        "title":"Videos",
        "titlebar":"Some titlebar",
        "get":[],
        "action":[],
        "call":[],
        "components":[]
            }
    ]`

activity is an array with

[2017-05-24 15:09] davidroeca commented on #163
In the `activities` reducer, what does your function signature look like? Below are two scenarios I'm thinking you might have:

*Scenario 1*
[code]

*Scenario 2*
[code]

Or something different?

The functionality of `undoable` is slightly different in these two scenarios and will help pinpoint the bug. If you have one, try the other and see if it works and let me know which one is broken.

If thes

[2017-05-28 17:03] TimMurnaghan commented on #154
@ugo-buonadonna Did you put your fork anywhere accessible?
That means I obviously agree with you. I want something composable - so that I can drop in redo without writing an access layer.
Of course, @davidroeca is right as well. This is caused by the difficulty in accessing things "out-of-band" in reducers. Logically we want the undo data separate but if we end up putting it in the same Immutable

[2017-05-29 05:36] MBehtemam commented on #163
my activities reducer signature is :

`function activitiesReducer(state = {}, action) {}`

[2017-05-30 17:21] davidroeca commented on #163
I haven't been able to reproduce this issue, so it's likely dependencies not working together nicely. Does your project compile without `undoable`? What sorts of middleware are you using? Does `undoable` work without some of the middleware?

[2017-05-30 18:23] davidroeca commented on #154
@TimMurnaghan the whole point behind selectors is that they enable any state structure to be composable. If your undoable state is relied upon by higher-order reducers, you can compose the selectors to reflect that structure.

Here's the fork you're looking for https://github.com/ugo-buonadonna/redux-undo

I'm still not entirely convinced that this is a positive addition to the library but hopeful

[2017-06-01 13:46] TimMurnaghan commented on #154
@davidroeca Thanks for the link. In the end I did a simpler version of my own just inside the app - with the wrapped data under it's own magically named key - which is fine as I own the naming structure of the other keys.

On the wider point , the "but selectors" argument which always comes up in this context is not quite enough. If you have any access at all outside the selectors than you're expo

[2017-06-01 20:10] omnidan commented on #163
@MBehtemam it would be very helpful if you could put up a small project on github that reproduces this issue - so that we can simply clone it and see what's wrong :grin:

[2017-06-01 20:13] omnidan commented on #154
I do not think this is a good idea as it hurts composability of higher order reducers, as well as introducing many potential bugs with name collisions. While this library will not support such a feature, you may use a fork that does this if you prefer. (Be careful when using it in combination with other higher order reducers and make sure you do not produce key collisions!)

[2017-06-01 20:13] #154 closed

[2017-06-02 16:52] jcperez-ch commented on #163
@MBehtemam since activities is an array, you probably want to default the initialState as an array, like:

[code]

Right?
Also do you use an initialState when you create your store that could propagate the initial state of the activities subtree that doesn't contain the `past` array?

[2017-06-08 16:57] johnguerson opened #166 "Deep copy of states"
Hello guys,

Is copy of present, past, latestUnfiltered, future, shallow? I mean, do they consider a complex object with multiple arrays of other objects? Histories shouldn't point between each other objects right? Is that something you guys would do in a near future?

I have a complext state object like that and am wonder if I'll have to implement my own undo/redo... I tried redux-undo but seem c

[2017-06-08 17:48] davidroeca commented on #166
Hi John,

The references are shallow when it makes sense. `_latestUnfiltered` and `present` have the same reference when they're in sync (and thus meet the === equality check).

As for deep copies of each state, that should be a question of how your own reducer is implemented. Using a library such as [immutablejs](https://facebook.github.io/immutable-js/docs/#/) will help. If you're using vanilla

[2017-06-13 20:39] AlessandroDM opened #168 "Does redux-undo work when preloading initialState with createstore?"
Hello,
First of all thanks for the library.
Then, I am not sure if I am making a mistake somewhere but whenever I try to pre-load the state using the createStore function the "present" state is undefined.

Assigning the state directly on the reducer works without issues.

To replicate the problem just remove the default value of the state of the reducer and create an initial state const and pass i

[2017-06-19 16:10] sidonaldson commented on #168
I don't know if this will help but this is how I set-up my reducer and it works with default values in the reducer declaration.

[code]

[2017-06-21 09:04] AlessandroDM commented on #168
Hello sidonaldson,
ahhh... indeed..  basically to preload the store you need to add the present, future and past (and load in present the values)...

I my initial tests I was adding a default value in the reducer directly and the "present / future / history" were already there so I thought I did not have to manually do them in the createStore function...

Thanks for the help, after I moved my defa

[2017-06-21 09:04] #168 closed

[2017-06-21 09:15] sidonaldson commented on #168
@AlessandroDM glad to help!

[2017-06-21 09:55] sidonaldson commented on #157
@rsaladocid did you get anywhere with this? I've just stumbled into the same issue.

I've setup my store and everything works except the pre-loaded first state is lost on first update. I'll try and leave a little sample code if it'll help.

[code]

[code]

[code]

I can log all the way through the process and the data is being updated correct (and isn't the same for example)

[2017-06-23 14:30] jcperez-ch opened #169 "Typings - _latestUnfiltered is not an array"
Guys, there is an issue on the typings of `_latestUnfiltered` property.

It is marked as `State[]` while it should be `State`.

PR to come

[2017-06-26 15:20] sidonaldson commented on #157
Ah, found it. Redux Undo seems to know what to do, the mistake was to try to populate the initial state as a child object. Instead just add the object.

[code]

[2017-06-26 15:56] sidonaldson commented on #157
@davidroeca would you be able to offer any advice on the above? I can't seem to make any headway solving it

[2017-06-26 16:56] sidonaldson commented on #157
Ah!
Stumbled across this [SO post](https://stackoverflow.com/questions/43400369/initializing-history-for-redux-undo-isnt-populating-past-or-future) and the poster solved it by rolling back versions. I too rolled back to beta 7 and it now works as expected.
I think there is a bug somewhere but I'm afraid my knowledge isn't strong enough to suggest where it may lie.

[2017-06-26 17:26] davidroeca commented on #157
Have you tried setting syncFilter: true in your config? There's weird
behavior if you filter some of the first actions at the start of your app,
since filtered actions by default now mutate state but don't get undone.
syncFilter fixes this but the user will have to undo extra times if you're
filtering downstream actions from thunks, just as they would in beta-7

On Mon, Jun 26, 2017 at 6:56 AM Sim

[2017-06-26 19:17] sidonaldson commented on #157
@davidroeca I'm not filtering at all. Completely stock set-up in that I wrap my reducer and then feed it some initial state.

[2017-06-27 13:15] davidroeca commented on #157
Strange, not sure what caused this--there have been a decent number of changes since beta7. So to confirm, none of the debug messages in the block at https://github.com/omnidan/redux-undo/blob/master/src/reducer.js#L177 are recorded?

[2017-06-27 13:32] sidonaldson commented on #157
@davidroeca correct. The image in this [answer](https://github.com/omnidan/redux-undo/issues/157#issuecomment-310029893) shows the first debug message and that is after the first action is called. Nothing before that.

[2017-06-27 13:40] xargi opened #171 "Filtered action should not affect grouping"
Ran into this one while trying to implement a distinct state filter for immutable.

I have a groupBy function that groups actions based on a debounced incrementing identifier. I also have a filter that filters out state transitions where the immutable state does not change (because of fromJS, simple reference equality used by the library does not work). Unfortunately every time a state transition

[2017-06-27 13:48] davidroeca commented on #171
Just added the fix for this in my PR. I realize the unfiltered group wasn't passed to the filtered state, which was the problem

[2017-06-27 14:09] xargi commented on #171
Somewhat related to this, I don't think the built in distinct state filter should make the comparison ```history.present === res``` but rather compare the latest unfiltered state to res, because while the state didn't change from the app's perspective, it can change from undoable's perspective. For two consecutive actions, the first one can be filtered but the second one not and in that case the l

[2017-06-28 20:39] #169 closed

[2017-07-05 12:49] davidroeca commented on #120
This may be related to #157. One alternative could be to run the initialization prior to the creation of the wrapped reducer

[2017-07-05 21:38] mblout opened #172 "Uncaught SyntaxError: Unexpected token export"
with the latest redux-undo@1.0.0-beta9-9-3, I'm seeing this error:
Uncaught SyntaxError: Unexpected token export
  at node_modules/redux-undo/dist/redux-undo.js:64

redux-undo@1.0.0-beta9-9-1 does not have this issue

[2017-07-05 22:08] samlasserson commented on #117
@mindjuice I've got multiple undo/redo working with a variation of the `currentDocumentId` method you mentioned, which presented itself when I normalized my state shape: my solution is to call `undoable()` 'behind' my document entity object, which is keyed by `id`, for example:

[code]

This way you get consistent action and undo typing with independent undo/redo. In my application, document editi

[2017-07-05 22:45] omnidan commented on #172
@mblout can you offer a small example where this doesn't work? what node version etc are you using?

I just tried using 9-9-3 with the todos-with-undo example and it works fine.

Could have been broken by #165 or #167

[2017-07-06 11:15] mblout commented on #172
I am loading an app in Chrome.. I'm trying to figure out how to quickly modify the 'todos-with-undo' example to load the dist/redux-undo.js instead of the libs/, but I'm not familiar enough with the webpack middleware (yet). will keep trying.

[2017-07-06 13:08] mblout commented on #172
it happens when using requirejs to load dist/redux-undo.js.  hacked 'todos-with-undo' to use grunt-connect and requirejs.  you should be able to unzip, 'npm install', 'grunt', and load localhost:1377/index2.html to see the error (I hope, if I packaged this up correctly).

[todos-with-undo-require.zip](https://github.com/omnidan/redux-undo/files/1127912/todos-with-undo-require.zip)

[2017-07-06 16:00] davidroeca commented on #172
My guess is that this comes from the update to webpack 2 or babel. I assume it's building closer to es6--I don't have the time to look into the configuration changes but this might be a step in the right direction https://github.com/59naga/babel-plugin-add-module-exports

[2017-07-06 20:06] mindjuice commented on #117
Thanks Sam...I'll be getting around to this in the next week or so.

Everything was clear except that I don't follow how you are preventing the `DOCUMENT_UNDO` and `DOCUMENT_REDO` actions from being processed by every `undoable()` reducer.

You said

Where is that done?

[2017-07-06 20:48] samlasserson commented on #117
With this state / reducer shape, only one `undoable` reducer at a time is ever called - the one which corresponds to `documentID` (see `entitiesReducer` in the code block above). The reducers for documents with different IDs will not be called, and so will not result in a distinct state or touch the undo history.

Dispatching the action is likely to be from a UI component, if you're using React th

[2017-07-06 21:21] mindjuice commented on #117
I see.  I missed what was happening on this line:

[code]

I'm confused by your `combineReducers()` code though.  Why is it calling the reducers there?  That doesn't make sense.

[code]

[2017-07-06 21:55] samlasserson commented on #117
Where else would you call it?

`state.documents` => documentsReducer
`state.documents.entities` => entitiesReducer
`state.documents.result` => resultReducer

Given `documents: { entities: {}, result: [] }`, the documents reducer should pass the action along to the reducers which handle the next slice of state, i.e `documents.entities` and `documents.result`. `combineReducers` is just a utility fun

[2017-07-06 22:09] mindjuice commented on #117
Well normally `combineReducers()` takes an object mapping keys to functions and returns a function.  You're calling `combineReducers()` with an object mapping keys to state values which makes no sense in normal `redux`.

I guess this `redux-immutable` does something quite different.  Poor choice to give it the same name as the `redux` function.

[2017-07-06 22:12] samlasserson commented on #117
No, you're right - I just hadn't written anything with it for a while and used it wrongly - see update to my earlier comment.

[2017-07-06 22:15] mindjuice commented on #117
OK...phew!  Thanks for the clarification.

[2017-07-07 13:43] #172 closed

[2017-07-07 13:43] omnidan commented on #172
thanks for the example @mblout and thanks for the hint @davidroeca :grin:

I built it with the babel plugin and the example didn't error anymore.

released `beta9-9-4` with a fix, let me know if it works!

[2017-07-07 13:55] mblout commented on #172
pulled beta9-9-4, and looks good here, thanks!

[2017-07-07 15:03] davidroeca opened #173 "Compare distinct states with _latestUnfiltered rather than present"
Mentioned in #171 by @xargi

The thought is that filtered state might invalidate unfiltered actions that yield the same current state, which prevents it from being recorded in the history.

The fix: change `history.present === res` to `history._latestUnfiltered === res`

[2017-07-07 15:05] davidroeca commented on #171
Closing this since the initial request was handled by #167. See #173 for the new issue

[2017-07-07 15:05] #171 closed

[2017-07-07 18:17] davidroeca commented on #162
since #167 is merged, I'm closing this issue. Please reopen if there are still challenges here

[2017-07-07 18:17] #162 closed

[2017-07-07 18:30] davidroeca commented on #166
Closing, since deep/shallow references should be managed by the wrapped reducer

[2017-07-07 18:30] #166 closed

[2017-07-07 20:49] davidroeca commented on #157
Alright I'm still not sure where the issue is. Please break the following example or let me know what's wrong with the behavior:

[code]
Go to `http://localhost:8080` on a browser with the redux devtools extension (or just check the debug messages)

[2017-07-09 20:46] alexjlockwood opened #175 "Is the 'redux' dependency necessary?"
The `package.json` file lists `redux` as a dependency. Is it possible for it to be removed? It seems like it is not being used by this library, and redux depends on some heavy-ish things like lodash.

I am using redux-undo right now with `@ngrx/store` with Angular, so in my case I don't need to depend on `redux`.

[2017-07-10 14:34] sidonaldson commented on #157
@davidroeca yup. that's exactly it. I'm relieved you recreated it with such a basic initial state as well, was worried my complex state object was to blame.

[2017-07-10 14:56] omnidan commented on #175
nice catch! you are right - it is only required for the tests, so I added `redux` to the `devDependencies` instead.

[2017-07-10 14:56] #175 closed

[2017-07-10 14:56] #157 closed

[2017-07-10 14:57] omnidan commented on #157
published `beta9-9-5` with this fix, let me know if it works /cc @sidonaldson @davidroeca

[2017-07-10 14:58] omnidan commented on #175
published `beta9-9-5` with this change

[2017-07-10 15:42] sidonaldson commented on #157
@omnidan @davidroeca confirmed as fixed in the test project above and in my own current production app. Thanks for resolving!

[2017-07-14 21:41] #173 closed

[2017-07-14 21:42] omnidan commented on #173
published `9-9-6` with this fix, let me know if it works!

[2017-07-14 21:42] omnidan commented on #171
published `9-9-6` with this fix, let me know if it works!

[2017-07-15 00:43] camsjams commented on #95
This change was not added to the README unfortunately, so requires a little dive thru the code to unearth `ignoreInitialState`

[2017-07-15 01:35] omnidan commented on #95
@camsjams could you send a PR completing the README with this feature? :grin:

[2017-07-15 09:02] norbiu commented on #77
Is there a different way to do this? Our project is pretty big now, so regrouping reducers at this point would require a great deal of refactoring.

[2017-07-15 16:59] camsjams commented on #95
Yep I plan to - expect it Monday

[2017-07-15 18:36] omnidan commented on #77
@norbiu unfortunately, I don't think so. What specifically is problematic for you when using this approach?

[2017-07-15 21:49] norbiu commented on #77
@omnidan We want to use this for our pdf editor. We have a reducer for our in page elements that keeps track of position, size, color etc and another reducer for the pages of the document that tracks page selects and adding / removing pages.

We also have other reducers that we might need (not sure, I don't have access to my work files at the moment). But we also have 5 or 6 other reducers that we

[2017-07-16 13:27] omnidan commented on #77
@norbiu if you wrap all your reducers with `undoable` without specifying a special action type via the second `options` arguments, they will always trigger at the same time if you dispatch an `undo` action from `redux-undo` `ActionTypes`. Then you don't need to nest your reducers into another object. You still need to select your states via `state.reducerName.present`, however.

[2017-07-16 20:34] norbiu commented on #77
@omnidan I'm not trying to wrap all my reducers individually with undoable, just the root reducer, which includes all of my reducers, even ones that I don't need.

I want to be able to undo redo using keyboard shortcuts, so I would need everything to work using the default action type `UNDO`.

Would you recommend all of the reducers being part of undoable even though the state is affected by only

[2017-07-16 21:15] davidroeca commented on #77
@norbiu I'd recommend that--just [use a filter](https://github.com/omnidan/redux-undo/blob/master/README.md#filtering-actions) to include the actions that handle user input

[2017-07-17 16:53] camsjams commented on #95
Added PR https://github.com/omnidan/redux-undo/pull/177

[2017-07-18 13:30] alexjlockwood opened #178 "Make it possible to return 'undefined' from a custom groupBy function"
Right now you need to return 'null' to the groupBy function. I have a lint rule that forbids using `null`, so it would be nice if it would also accept `undefined` as well.

Feel free to ignore if this would be a breaking change. :)

[2017-07-18 13:35] davidroeca commented on #178
Have you tried using `undefined`? The group comparison uses the `== null` check (rather than `=== null`) so I think this should work already

[2017-07-18 13:39] alexjlockwood commented on #178
Oh! Right! I totally forgot about that. Sorry I'm a javascript newbie. :D

[2017-07-18 13:39] #178 closed

[2017-07-18 14:32] nosovsh opened #179 "Possibility to have flat redux structure"
Currently `redux-undo` adds one more level of hierarchy to your redux state:
[code]
Maybe it's a good default but if you already have a big application and want to start using `redux-undo` in different places you will face a problem that you have to change paths to you state in all your `connect` functions from `path.to.my.state` to `path.to.my.state.present`. Which can cause a lot of bugs and any

[2017-07-18 15:02] davidroeca commented on #179
See #154 for some discussion on this. While it's (somewhat) easy to implement, name collisions are the main issue we want to avoid, so if you can think of a way to handle name collisions I'm all ears

[2017-07-19 14:22] nosovsh commented on #179
hi @davidroeca , thanks for the quick answer. I see that I'm not the first facing this problem.
Naming collisions can be prevented in few steps:
1. You have to explicitly set `flat: true` in order to use flat structure. So it is advanced scenario and users who know what they are doing will use it.
2. We can raise warnings when user's reducer returns key that is used by undo.
3. And we can hide eve

[2017-07-19 18:26] davidroeca commented on #179
These are the trade-offs that make me less inclined to adopt this approach:
1. This breaks support of alternative state data structures such as the Immutable Map.
2. Specifying `flat: true` changes the behavior of the entire library and makes comparisons between the present and other elements of the undo/redo history much more resource-intense (instead of comparing references, the library will hav

[2017-07-20 11:59] welkup commented on #173
Works as expected. Thanks so much!

[2017-07-20 16:31] davidroeca commented on #179
@nosovsh for the time being, would the following sort of filtering helper be useful at all?

[code]

The use case would be the following:

[code]

In theory you could also pass a memoized selector as the second argument to `includeSubsection` to improve performance. This would let you merely wrap your top-level reducer with redux-undo and only change your state tree in one place.

[2017-07-21 15:22] nosovsh commented on #179
Do I understand correctly that you suggest to put  this at top level app reducer? And inside filter put all paths I need to make undoable?
So the state of the whole app would be
[code]
right?

[2017-07-21 16:31] davidroeca commented on #179
Yes. Or the highest level it needs to be, wherever you plan to put it. That way there are fewer `present`s to worry about

[2017-07-21 17:42] davidroeca commented on #179
Also updated the `orFilters` function to do what the name intends (previously used the `&&` operator which is basically `combineFilters`)

[2017-07-25 15:28] nosovsh commented on #179
But that means that all paths in app in connect/selectors should be updated even which don't need undo :)

I come up to the following reducer-wrapper that I can use in my code which will preserve my old state structure and will add undo state. What do you thing?
[code]

[2017-07-25 16:15] davidroeca commented on #179
Hmm `undoableState.present` should be `newUndoableState.present`. But more importantly, the undoable reducer actually has a state of its own (initialization), so it shouldn't be created more than once. I'd say if anything, do the following:

[code]

Let me know if that gives you the desired behavior--should merely copy the references of the values in `newUndoableState` a level up

[2017-07-26 09:42] nosovsh commented on #179
Thanks for tips. I will try it in real project this week

[2017-07-31 03:40] vicky8989 opened #180 "one a reducer's state value which has deep structure is stored in the past array. it is changed meantime when present state is changed."
i find an issue with this plugin.
when a reducer value has deep structure,the past's value is changed by the present value.this lead to that the states are all the same when undo/redo action is already dispatched. For example:
one state structure is like below:
const initialState = {
        value1:true,
        value2: 'value',
        needDeepCopy:{
            test:'1',
            arr:[1,2,3]

[2017-07-31 04:05] davidroeca commented on #180
This library assumes that elements of your state object are not mutated, as is common practice in redux. Make sure you're returning new objects with your reducers. `Object.assign` and the object spread operator are a few ways of doing this. See https://github.com/omnidan/redux-undo/issues/166 for some related discussion.

[2017-07-31 04:28] vicky8989 commented on #180
Thanks for your answer @davidroeca . I have seen the issue #166 , i will try to solve the issue by immutable.js or vanilla js. I am debugging this issue for three days. Hope it will work. Thanks a lot.

[2017-07-31 14:51] omnidan commented on #180
@vicky8989 you do not need to use immutable.js to do immutable updates with Redux (but feel free to do so if you like it!)

Have a look at [the Redux documentation page on immutable update patterns](http://redux.js.org/docs/recipes/reducers/ImmutableUpdatePatterns.html) for more information on how to solve these kinds of issues.

If anything else is unclear or there is another issue, feel free to

[2017-07-31 14:51] #180 closed

[2017-08-02 20:09] joelzimmer commented on #163
I'm seeing the same issue, where I have a reducer that looks like:

[code]

The second time the application loads, the state looks like:
[code]
which doesn't have a `past` key, causing the `insert` to fail.

[2017-08-12 19:46] hamdiwanis commented on #163
it's because the reducer you pass to the undoable function only gets the present state, but you can access the full state outside it normally :)

`
default:
        res = reducer(
          history.present,
          action,
          ...slices
        )
`

[2017-08-17 00:15] joelzimmer commented on #163
@hamdiwanis just so i'm clear - that'd be the `default` response in the `reducer` being wrapped? Just want to make sure I have full context on what you are saying.

[2017-08-17 12:46] hamdiwanis commented on #163
@joelzimmer yes, that's what I got from reading the code base :)

[2017-08-17 17:20] kachkaev commented on #28
Thanks for posting this issue @YingshanDeng! I just installed redux-undo into a new project and noticed a recursive history tree, which did not show up in my previous app. Turned out I installed `redux-undo@beta` that time, but then forgot about about the caveat of the current `latest` :smile: Took a while to sort this out, but I finally did it, thanks to this thread.

@omnidan what are your plans

[2017-08-17 21:20] omnidan commented on #28
@kachkaev we still need some refactoring and better documentation for 1.0, everything else seems to be sorted out for now. Unfortunately I don't have too much time myself, so I would be very happy about contributions in any way (especially docs!)

[2017-08-18 19:36] davidroeca commented on #163
@joelzimmer I'm assuming that your application still has the reducer in memory from the previous run.

Check out https://github.com/omnidan/redux-undo/blob/0d93dd544cf25ba5eaa490a4c406f7e148aba988/src/reducer.js#L120 which is likely what's causing this behavior.

The bottom line here is that once the reducer has "initialized" the state once, it will only accept the expected history format.

Would

[2017-08-21 14:32] tsu-la commented on #150
Hey I was wondering on the state of this enhancement?   Or if the UNDO action can be made to return the state?

[2017-08-21 15:18] davidroeca commented on #150
Hi @tsu-la, I made a first crack at this and didn't like it, but the library has matured a little bit since then.

The challenge is that the design here sort of runs counter to the original design of `redux-undo`, since for the most part it computes once and saves intermediate states. This enhancement would compute forward and backward and not necessarily rely on intermediate states.

I guess we c

[2017-08-22 16:16] joelzimmer commented on #163
@davidroeca I think exporting those functions would be incredibly helpful.

[2017-09-04 19:22] bmoquist opened #181 "Handling multiple thunks comprised of different subactions with groupBy"
First, thanks for all of your work on this library!

Regarding groupBy, can it handle multiple types of thunks comprised of different subactions? I've been looking through the docs, issues, and playing with the library but have had some difficulties figuring out if this can work.

Find below an example of the type of actions/reducers in mind. I'd like for actions like selectAll, deselectAll, and r

[2017-09-05 16:09] davidroeca commented on #181
Hi @bmoquist,

Thanks for the detailed issue. There are a lot of questions here so please reply back if I haven't sufficiently answered all of them. Let's start with the basics: a group is saved in the state as neither a set nor a list; it's merely the return value of the previous `groupBy` call, which will indicate whether or not successive actions in the same `group` get "squashed" into the same

[2017-09-06 14:50] bmoquist commented on #181
This is great - thanks much for the thorough explanation, David. I'll take a crack at it and let you know how it goes!

[2017-09-06 15:02] beornborn opened #182 "Build error related to babel"
v0.6.0

`error: bundling failed: "TransformError: [app_folder]/node_modules/redux-undo/lib/index.js: [BABEL] [app_folder]/node_modules/redux-undo/lib/index.js: Using removed Babel 5 option: [app_folder]/node_modules/redux-undo/.babelrc.stage - Check out the corresponding stage-x presets http://babeljs.io/docs/plugins/#presets"`

v0.6.1

`error: bundling failed: "TransformError: [app_folder]/node_m

[2017-09-06 15:09] omnidan commented on #182
@beornborn is this only an issue in 0.x or also with the beta release?

[2017-09-06 15:13] beornborn commented on #182
@omnidan updated description

[2017-09-07 19:17] omnidan commented on #182
@beornborn alright, that is very weird - can you provide a small example repo that reproduces this error?

[2017-09-08 04:23] bmoquist commented on #181
@davidroeca - your suggestion worked brilliantly! I expanded its ideas a bit based on what I encountered. Find example solution snippets below if you're interested and for others' future reference. Appreciate the help - Bryant

[code]

[2017-09-08 04:24] #181 closed

[2017-09-08 12:28] edo1493 opened #183 "Performance issues"
Hello,

first of all, thanks for the great work! I have tried to make undoable one of my reducers in the following way:

`const undoableFeed = undoable(feed, {
  filter: distinctState(),
  limit:1
})
`

I really need this functionality, but the result was the app slowed down really badly and the performance on other reducers dropped. I am currently using this on React Native and I got to the point

[2017-09-08 13:04] edo1493 commented on #183
including single actions, removes every trouble. apologies.

[2017-09-08 13:25] davidroeca commented on #183
Hi @edo1493,

Try installing the latest beta `redux-undo@1.0.0-beta9-9-6` and see what happens. In that version, distinctState is implicitly implemented--I'd recommend taking a quick look at the readme in this repo (as compared to npm)

https://github.com/omnidan/redux-undo/blob/master/package.json#L3

[2017-09-08 13:27] edo1493 commented on #183
Okay, I have removed distinctState and used includeAction. I see a slight improvement, but I can still notice the app is faster without redux-undo. I am about to try the beta.

[2017-09-08 14:33] edo1493 commented on #183
With the beta, I am getting:
`"TransformError:node_modules/redux-undo/lib/index.js: Unknown plugin \"add-module-exports\" specified in \"emma/node_modules/redux-undo/.babelrc\" at 0, attempted to resolve relative to \"emma/node_modules/redux-undo\""`

[2017-09-08 14:37] davidroeca commented on #183
Hm that sounds like https://github.com/omnidan/redux-undo/issues/182

[2017-09-08 14:45] davidroeca commented on #182
@bernborn which version of babel are you using in your project? Which npm version are you using (or are you using something different like yarn)? Also try installing `babel-plugin-add-module-exports` as a dependency in your project and let us know if that works as a temporary fix

[2017-09-08 15:47] beornborn commented on #182
@omnidan @davidroeca
1 detail that can be important is that I am using react-native 0.46.4
The error happens on `import undoable from 'redux-undo'` so it should be easy to reproduce (I'll create example repo when find a minute)
yarn 0.24.6

[2017-09-14 09:26] magnonellie commented on #117
I almost have something like this working (well, I thought I had it working) but now I'm starting to get an error about redux-undo not being able to read the length of `history.past` because it's treating my state, which is only meant to represent the present, as the full undo history.

Basically, I have an action called `REPLACE` which takes in a full state which I read from indexedDB and then re

[2017-09-14 10:31] samlasserson commented on #117
Are you passing a config object as the second argument to `undoable()`? You need to specify your custom rehydrate action as an `initType`, so `redux-undo` knows to construct a history around the state passed to the reducer when this action is fired. Otherwise, it will treat the incoming state as a history object when it isn't, and fail loud and fast as in your stack trace - that's my best guess, h

[2017-09-14 15:31] magnonellie commented on #117
That almost worked. It doesn't throw an error when adding those parameters but it destroys every entity that comes after the first one (replacing them with a copy of the first entity). :sweat_smile:

Is it possible the problem is that I'm not calling `undoable` for every entity? Reading all that's here kinda makes me think that's what I have to do, but I don't really know how I would go about that

[2017-09-14 15:35] davidroeca commented on #117
@magnonellie I think your issue is this https://github.com/omnidan/redux-undo/issues/163

Check my latest comment there--it has to do with how the reducer is created. The undoable wrapper returns a function that is inherently stateful, which likely leads to this problem

[2017-09-14 16:04] magnonellie commented on #117
@davidroeca Yeah, I saw that one too, but I decided this was probably a better place to ask. Anyway, just to be clear, is the solution for now to essentially copy those functions since they aren't exported right now?

[2017-09-14 16:09] davidroeca commented on #117
That may be one fix for now, though it depends on what's stored in your database. The reducer only works well with past/present/future once the state has been initialized, so you'll have to convert the modified state to something with the same format

[2017-09-14 16:13] samlasserson commented on #117
@magnonellie `undoable` is a higher-order reducer, in that it takes a reducer as argument and returns a reducer. If you call it like that you will recreate the reducer on every action, surely? Where is the snippet you posted taken from?

[2017-09-14 16:31] magnonellie commented on #117
@davidroeca I may not have understood correctly, but reading the readme, it has a [section](https://github.com/omnidan/redux-undo#initial-state-and-history) where it says that I should be able to just pass in a normal value and `redux-undo` will convert it for me. Isn't it a bug then that it's not doing that? :thinking:

@samlasserson Sorry, I should have made my snippet a bit more clear. I'm refe

[2017-09-14 18:14] davidroeca commented on #117
@magnonellie that section references initialization, not full state replacements.

If anything, it's an issue with lack of documentation and fundamental design constraints rather than a bug per se.

[2017-09-22 07:04] woodccc opened #185 "How to include action A, but exclude it when it is in a group with action B"
Thanks for the awesome library, appreciate for it ！

Now, I have a problem with it. At first ,thanks for every reply！

I have to include action A,and it works well.But need't include it when it is appear with action B.How could I do for this case?Any clue?

[2017-09-22 12:04] davidroeca commented on #185
Hi @woodccc,

First check out #181 and let me know whether or not that helps--this may be a similar issue

[2017-09-25 01:15] woodccc commented on #185
Hi @davidroeca ,
I already used groupBy,and it's very nice.And I scan #181 carfully,but my problem is still there.Let me show it in more detail.

First ,i need ACTION_A undoable.So need use includeAction.
[code]

The rootReducer go on record when use func1.Then ,I want it not recorded when use func2.
[code]

Because use includeAction for filter ,the rootReducer is still go on record when use func2

[2017-09-25 01:31] davidroeca commented on #185
Okay with these examples, groups are probably not what you're after. Maybe add an `undoableFiltered` property to each payload. And add an additional filter function:

[code]

[2017-09-25 03:24] woodccc commented on #185
That's awesome! Be grateful for your patient responses！

[2017-09-25 03:24] #185 closed

[2017-09-27 04:56] tyeon95 commented on #182
Any update on this? I am getting the same error at `import undoable from 'redux-undo'`

[2017-09-27 16:39] davidroeca commented on #182
@tyeon95 are you using `react-native` or something else?

@beornborn any update on the example repo?

I haven't been able to reproduce of this issue so it's unclear to me how this can be fixed, or if the issue is even with `redux-undo`

[2017-09-30 15:49] beornborn commented on #182
@davidroeca just regular  `react-native init AwesomeProject`, `yarn add redux-undo@beta` and add import into index.android.js

https://github.com/beornborn/redux-undo-babel-bug-example

[2017-09-30 21:49] davidroeca commented on #182
@beornborn I cloned the repo and was able to appropriately load the page on my machine. Didn't raise any build errors for me.

[code]

Try upgrading nodejs and yarn

[2017-10-01 05:42] beornborn commented on #182
@davidroeca

[code]

http://prntscr.com/grt7qv

[code]
add import into index.android.js

and run
[code]

if it helps we can arrange skype call with screen sharing: og.gorbunov

[2017-10-01 07:25] davidroeca commented on #182
That was a bit of a trip downloading android studio and sdk, creating a fake project, downloading an android image, downloading a compatible jdk, and ensuring that ANDROID_HOME is set. Talk about a lot of moving pieces. Here's what I see:

[code]

https://prnt.sc/grtoq2

Which of those things is raising the error on your system? The packager (`yarn start`) after the run-android command?

[2017-10-01 07:39] beornborn commented on #182
@davidroeca yes, the packager while "Bundling `index.android.js`"

[2017-10-01 07:40] davidroeca commented on #182
@beornborn just reproduced it, realized you were referring to the generated code

[2017-10-01 17:40] davidroeca commented on #182
So I fixed this by manually removing the node_modules/redux-undo/.babelrc file. When `redux-undo` gets distributed, it is already transformed so you don't need the `.babelrc`. This is indeed an issue with the library.

I also got this to work by modifying the `.babelrc` and adding the following field: `"ignore": ["lib/"]` since `lib/` is already transformed. I'll create a PR for @omnidan to review

[2017-10-03 20:39] corvana-nbaker commented on #117
I've tried to set this up for a document-based design just as @samlasserson has.

undoable() reducers are added dynamically to the application. Unfortunately when they're called they never receive the current state as there's no "state.present" in the undoable wrapper, just a state.history.

I understand initialState is being set in the createStore for now, but this won't work for my application a

[2017-10-04 10:06] samlasserson commented on #117
@corvana-nbaker What does your undoable config object look like? I have this working dynamically, i.e independent of initialState definition or store creation. Presumably your documents have some form of `CREATE` action, is this specified in an array of `initTypes` in config? Also, `ignoreInitialState` may need to be set to `true` (again in config), I think this is one of the signifiers for redux-

[2017-10-04 15:28] corvana-nbaker commented on #117
@samlasserson
I think my issue was I was trying to add an undoable reducer to a portion of the state tree already in existence. Since then I've changed it so the creation of that portion of the tree is done After adding the undoable reducer and now I have history.

Thanks!

[2017-10-23 16:21] #182 closed

[2017-10-23 16:27] omnidan commented on #182
released `beta9-9-7` with a fix for this

[2017-10-23 16:28] omnidan commented on #163
@joelzimmer released `beta9-9-7` with the `newHistory` function, let me know if that solves your issue

[2017-10-23 16:28] omnidan commented on #117
released `beta9-9-7` with the `newHistory` function, let me know if that solves your issues

[2017-10-24 20:20] benedyktdryl commented on #182
I have such version in package.json:

`"redux-undo": "1.0.0-beta9-9-7"`

And it's giving me same error:

[code]

Am I missed something?

[2017-10-24 20:26] joelzimmer commented on #163
@omnidan Thanks! I ended up fixing it through this conversation on [gitter](https://gitter.im/omnidan/redux-undo?at=59b191594e50cfde27153ae7):

So I don't know if it was code based, maybe just config based.

[2017-10-24 23:11] bdryl-softserve commented on #182
Actually, it's happening only when this dependency is not dev- dependency...

[2017-10-25 04:30] davidroeca commented on #182
I think my PR didn’t fix it in that case. Babel shouldn’t care about this
because lib/ isn’t specified in “only”, but I guess we have to deal with
this behavior.

I think it’s a Babel version issue, but if it doesn’t work then we should
just migrate the config back out to babelrc and npmignore it. If we update
to Babel 7 that might also help.

See https://github.com/babel/babel/issues/4558

On Tue

[2017-10-26 02:41] raynor85 opened #187 "Cannot rehydrate redux store using redux-offline"
redux-offline allows rehydration of the redux store each time I relaunch the app (at the very basic). After enhancing an existing reducer with undoable, I noticed that the action 'persist/REHYDRATE' dispatched from redux-offline doesn't restore the changes for the enhanced undoable reducer, even if I manually dispatch the action any time during the app execution.
I have tried with the option ignor

[2017-10-26 15:14] davidroeca commented on #187
@raynor85 redux-undo restructures your state tree from
[code]
to
[code]

This is likely part of the problem. If you rehydrate an old state that doesn't have this strucutre, redux-undo will be pointing to the old state structure and won't know what to do with it. If there's a way to use the function i've exported in https://github.com/omnidan/redux-undo/pull/184 when rehydrating a state that has th

[2017-10-26 23:04] raynor85 commented on #187
The 'persist/REHYDRATE' action payload dispatched by redux-offline has already the new state (past, present, future), so I suppose it should already work out of the box.

[2017-10-26 23:38] raynor85 commented on #187
Ok I think I managed somehow. The point is that I totally forgot the shape of the state when the action reaches the enhanced reducer, which is the normal shape without past, present future. The 'persist/REHYDRATE' action payload contain everything, so I just needed to add in my reducer the following:

`case 'persist/REHYDRATE':
    return { ...action.payload.[undoableReducerName].present }`

[2017-10-27 00:40] brmscheiner opened #188 "Question: what's going on with clearHistory?"
I would like to use clearHistory for my project and it's not working as expected. I see this is a beta feature, so I definitely shouldn't have expected anything =). I just wonder if clearHistory works under any conditions, and whether I can create those conditions in my project. Alternatively, if this is a quick fix I would be down to contribute.

[2017-10-27 16:53] tnrich opened #189 "Add note in readme that auto-applied distinct state filter does a shallow equality check"
Hey there,

I just ran into an issue where it looked like nothing was changing with my "presentState" but I was still getting additional states added.

![untitled](https://user-images.githubusercontent.com/2730609/32115658-453d04ea-bb0d-11e7-9eb6-b4c85be15f1f.gif)

I solved it by adding my own filter that did a deep equality check, but it took me a while to figure out what was going wrong. Is ther

[2017-11-09 03:38] davidroeca commented on #182
updating https://github.com/facebook/react-native/releases/tag/v0.50.0 should solve this issue as well

[2017-11-14 14:13] Introvertuous opened #190 "excluded state changes"
I am having a bit of trouble using redux-undo and I am not sure if it is a usage issue or a potential feature, so please correct me if I am doing something wrong. Let me describe the scenario:

We have a state tree, and an action that we exclude using the filter option, and this action results in some modification to our state. Now we perform some actions, then perform our excluded action, and the

[2017-11-18 07:15] qingtong234 opened #191 "not work with multiple redux store"
my project is allitter diffrent from other's. my project have two redux-stores, because the second store is maintained in npm package, when it changes, the main redux will subscribe the changed parts.

when i use this awesome undo-package, it can only listen to my main store's action, so how can i both listen the two store's?

I'am looking forward for your answers

[2017-11-27 19:59] Introvertuous commented on #190
woops, there is api for this: `syncFilter`
I should read docs more thoroughly...

[2017-11-27 19:59] #190 closed

[2017-12-18 12:37] JannicBeck commented on #183
@edo1493 I experienced the same issues in my app with big state objects.

This is why I wrote these packages: [ngrx-undoable](https://github.com/JannicBeck/ngrx-undoable) and [undox](https://github.com/JannicBeck/undox).

[2017-12-22 21:34] amartacus opened #192 "Is there a way to pass initial history for a specific reducer?"
I created an initialState object which contains the history for the todos reducer and I'm passing it to `createStore` along with the root reducer.  When my page renders I am able to access the todos.present but my todos.past is an empty array, is there a specific reason for this? I saw [this section](https://github.com/omnidan/redux-undo#initial-state-and-history)  on the docs where initial state

[2018-01-11 10:59] chrillewoodz opened #194 "[question] Present is never changed on UNDO/REDO, what am I not understanding?"
Like the title says, what am I missing here? If I click on an undo button, the past is changed like expected. But the `present` state remains the same, is this intended behaviour?

If I have a subscription like:

[code]

I expected `this.pages` to change since I've pressed undo.

[2018-01-14 04:57] danschumann commented on #77
Hmmm..  I just ran into this situation as well.  I had undoable implemented simply, but hadnt tested, so I also would have a bunch of code to refactor, and I don't really want to change the structure..

[code]

And the problem is, I call undo, and it does undoes both, instead of only 1.

IE.  Create a new project.  Change frames around, change points around, call undo.  You would expect it to only

[2018-01-14 05:14] danschumann commented on #77
Ahh, I've got it!

I already have a custom reducer to apply `befores` and `afters` reducers ( I have some post-processing stuff, which is independent of data and can be recomputed at any time -- this isn't an anti-pattern when dealing with highly nested structures ).

[code]
or something like that!

Yea, I'll try that.  (note I just wrote this on github, probably bugs)

On second though, rather th

[2018-01-14 05:38] danschumann commented on #77
Aight, so it works.  Here's a gist

https://gist.github.com/danschumann/bf209508f896ac2c8c53a658ef920c53

I can run `undo()`, and it'll be respectful of both instances of `undoable`.

Yea, it adds a little overhead to every reducer, and yea, it's one more thing to manage.  It is possible though.

[2018-01-14 06:10] danschumann commented on #77
Here's a gist to copy the new structure to the old structure on the fly.
This is the fix the guy was asking for.
It's a hack yea, but it doesn't add much overhead.
https://gist.github.com/danschumann/ea15f86cdeed5df6c363df97e3c82e20

[2018-01-14 06:24] danschumann commented on #77
Disregard any comments you got via email.  it took me longer to write this comment than to update my codebase to have the non-hacked structure!

[2018-01-25 13:14] xargi commented on #189
Although if you are following the principles of redux properly, you should not be mutating any part of the state object tree in-place and you should not need a deep equality comparison then.

[2018-01-25 17:46] tnrich commented on #189
@xargi so you're saying this would have been solved had I not been mutating anything in place within the reducer? I am not totally sure that would be the case. I think just returning a new object from a reducer would cause the shallow equality not to work. But that is not against redux principles I don't believe. For example:

[code]
if the above `myReducer` were one of the sub-reducers below the

[2018-01-25 19:01] xargi commented on #189
You can avoid breaking shallow equality by returning the same state object if nothing changes. Anyway, the only thing the redux docs really emphasize about it is that when you change something you should return a new identity from the reducer instead of mutating the state object.

Adding the deep comparison to the distinct state filter would be more of a bandage than a solution, as you will run in

[2018-02-05 20:24] bfang711 commented on #143
so by dispatching `UNDO_GEOREF`, do you mean do `dispatch(ActionCreators.undo('UNDO_GEOREF'))` or simply do `dispatch({type:'UNDO_GEOREF'})`?

[2018-02-15 06:55] faiwer opened #195 "obsolete es2015 plugin"
Hello. Project uses `babel-preset-es2015` plugin (but in `devDependencies` section instead of `dependecies`). NPM doesn't install it automatically. While a manual installation NPM writes into the console the next message:

I think it's time to update babel config ;)

[2018-02-15 16:03] dbkaplun commented on #179
This can be solved simply:
[code]

[Prior art](https://github.com/reactjs/redux/blob/3e114f8c0fd4461e2f642c2737d2fa8297484728/src/createStore.js#L11)

[2018-02-19 07:22] tnrich opened #196 "Adding a unique ID to each state"
Hey there,

I am interested in adding a unique ID to every state being saved in the past/present/future arrays in order to better track which state has been saved to my backend. Is there a good way of doing that with redux undoable?

[2018-02-19 17:32] tnrich commented on #196
Hmm I ended up handling this within the reducer itself. I'll close this issue.

[2018-02-19 17:32] #196 closed

[2018-02-20 17:10] dbkaplun opened #197 "Feature: new release"
It would be great to have a new npm release. As it stands, the npm version does not even have `groupBy`.

Thanks for considering!

[2018-02-22 13:26] mkalygin commented on #163
I can confirm that one of the possible reasons of this error can be SSR. It also happens to me on the 2nd and subsequent renders only.

[2018-02-22 15:23] mkalygin commented on #163
For anyone in the future who face with this problem with SSR and hydration, here is a little workaround, which mimics `undoable` for the server bundle:

[code]

[2018-03-04 20:20] whmountains commented on #36
I think storing actions with checkpoints would be more efficient.

[2018-03-04 20:25] davidroeca commented on #36
@whmountains `groupby` achieves this by categorizing actions into groups and storing changes to present when the group changes. See the readme for more details

[2018-03-04 20:26] whmountains commented on #36
@davidroeca That's useful, thanks!

I was actually talking about something more like what redux devtools uses.

[2018-03-24 00:17] jeremyblalock commented on #150
To me this feature is make-or-break.

Has there been any development here? Further thoughts?

[2018-03-29 16:38] utkarshsaxena93 opened #200 "Incorrect typings for StateWithHistory"
Hello all,
I believe the typing for StateWithHistory [here](https://github.com/omnidan/redux-undo/blob/master/typings.d.ts#L4) is incorrect unless I am missing something about `redux-undo`.
With the current typing, I will have to specify my initial state as
[code]
Where as what I want my initial state to look like is
[code]

Thoughts?

[2018-04-01 20:58] JannicBeck commented on #36
I have faced a similar problem:

Storing massive state trees pushes the limits of this library, especially if your persist your store inside a storage engine like localStorage.

* Your localStorage will be full very fast.
* When you rehydrate you can no longer benefit from reference equality as explained by @cormacrelf

If you've your states are bigger than your actions on average and you persist

[2018-04-25 03:53] TheNightElf opened #202 "How can i Undo or Redo a batch of actions at the same time ?"
[code]

[2018-04-27 08:36] gwl002 opened #203 "how can i redo or undo a async action"

[2018-05-04 13:29] bbbbx opened #204 "ActionCreators.jump is not a function"
Hi, thanks for your reducer enhancer, but, I'm confused in the `ActionCreators`.

I create a store with `undoable()` and use middleware to print the store's state:

[code]

Then, I dispatch some actions:
[code]
Anything is fine, except `ActionCreator.jump()` action creator, it throws a TypeError:

<img width="419" alt="screen shot 2018-05-04 at 21 15 42" src="https://user-images.githubusercontent.